<% content_for :head do %>
  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar'], 'language': 'fr'});
      google.charts.setOnLoadCallback(drawdepenses);
      google.charts.setOnLoadCallback(drawimpots);

      function drawdepenses() {
        var data = google.visualization.arrayToDataTable([
        ['Echelon', 'Commune', 'Intercommunalité', 'Département', 'Région',
        { role: 'annotation' } ],
        ['2015', 105, 105, 105, 105, ''],
        ['Moyenne France', 100, 100, 100, 100, ''],
      ]);

        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 250
          },
          colors: ['#346ac9','#9C27B0', '#279423', '#fc9826'],
          'legend' : {
            'alignment': 'center'
          },
          vAxes: {
            1: {
              gridlines: {
                color: 'transparent'
              },
              textStyle: {
                color: 'transparent'
              }
            },
          },
          isStacked: true,
        };

        var depenseschart = new google.visualization.ColumnChart(document.getElementById('depenses_chart_div'));
        depenseschart.draw(data, google.charts.Bar.convertOptions(options));
      }

      function drawimpots() {
        var data = google.visualization.arrayToDataTable([
        ['Echelon', 'Commune', 'Intercommunalité', 'Département', 'Région',
        { role: 'annotation' } ],
        ['2015', 105, 105, 105, 105, ''],
        ['Moyenne France', 100, 100, 100, 100, ''],
      ]);

        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 250
          },
          colors: ['#346ac9','#9C27B0', '#279423', '#fc9826'],
          'legend' : {
            'alignment': 'center'
          },
          vAxes: {
            1: {
              gridlines: {
                color: 'transparent'
              },
              textStyle: {
                color: 'transparent'
              }
            },
          },
          isStacked: true,
        };

        var impotschart = new google.visualization.ColumnChart(document.getElementById('impots_chart_div'));
        impotschart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-12">
    </div>
    <div class="col-md-11 col-sm-12">
      <br>
      <div class="entity-title">
        <h2>
          <strong><%= @ville[:nom_propre].mb_chars.upcase%></strong>
        </h2>
      </div>
      <div class="text-center">
        <%= image_tag "town_illustration.png" %>
      </div>
      <br>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
          <%= link_to "Synthèse", ville_synthese_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation">
          <%= link_to "Chiffres clés", ville_indicateurs_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation">
          <%= link_to "Fiscalité", ville_fiscalite_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation">
          <%= link_to "Dépenses", ville_depenses_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation">
          <%= link_to "Finances", ville_finances_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
      </ul>
      <br>
      <div class="card">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="text-wrapper">
          <h1>Page en construction</h1>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
