<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-12">
    </div>
    <div class="col-md-11 col-sm-12">
    <br>
      <div class="entity-title">
        <h2>
          <strong><%= @ville[:nom_propre].mb_chars.upcase%></strong>
        </h2>
      </div>
      <div class="text-center">
        <%= image_tag "town_illustration.png" %>
      </div>
      <br>
      <ul class="nav nav-tabs">
        <li role="presentation" class= "active" >
          <%= link_to "Chiffres clés", ville_indicateurs_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation">
          <%= link_to "Fiscalité", ville_fiscalite_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation">
          <%= link_to "Dépenses", ville_depenses_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation">
          <%= link_to "Finances", ville_finances_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
      </ul>
      <br>
      <div class="card">
        <div class="card-title">
          <br>
          <p>
            Bienvenue à <%= @ville[:nom_propre] %>. Cette page récapitule les informations sociales,
            fiscales et financières de la commune. Les autres onglets présentent plus de détails sur ces éléments.
          <br>
          <br>
          <% if @ville[:nb_res_secondaires] / @comptes_2016[:population] >= 0.5 %>
              <p>
              Attention. Il y a dans cette commune une part importante de résidences secondaires :
              <%= @ville[:nb_res_secondaires] %> résidences secondaires pour une population de <%= @comptes_2016[:population] %> habitants.
              Les données fiscales et financières par habitant peuvent donc sembler artificiellement élevées.
              </p>
          <% end %>
          </p>
          <br>
          <h4><strong>Principaux indicateurs</strong></h4>
        </div>
        <div class="card-tab">
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th class="text-center">
                  <%= @ville[:nom_propre] %>
                  <br>(2016)
                </th>
                <th class="text-center">
                  Villes de même taille (*)
                  <br>(2016)
                </th>
                <th class="text-center">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="indent sub-row">Population</th>
                <td class="text-center sub-row">
                  <%= number_with_precision(@comptes_2016[:population], options = {delimiter: " ", precision: 0}) %>
                </td>
                <td class="text-center sub-row">-</td>
                <td class="text-center sub-row"></td>
              </tr>
              <tr>
                <th scope="row" class="category main-row">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> - Niveau de vie
                </th>
                <td class="text-center main-row"></td>
                <td class="text-center main-row"></td>
                <td class="text-center main-row"></td>
              </tr>
              <tr>
                <th scope="row" class="indent sub-row">
                Revenu médian : décile
                <a data-toggle="modal" data-target="#modalDecile">
                  <i class="fa fa-question-circle no-indent" aria-hidden="true"></i>
                </a>
                <br>
                <i class="small-font">1/10 : population à revenus faibles</i>
                <br>
                <i class="small-font">10/10 : population à revenus élevés</i>
                </th>
                <td class="text-center sub-row">
                  <%=  @ville[:decile_revenu] %>/10
                </td>
                <td class="text-center sub-row">-</td>
                <td class="text-center sub-row">
                  <% if @ville[:decile_revenu] < 4 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif @ville[:decile_revenu] < 6 %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif @ville[:decile_revenu] < 8 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% else %>
                    <%= image_tag "gauge_max.png" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row" class="indent sub-row">Part de logements sociaux <%= "(obligation : #{number_to_percentage(@ville[:taux_hlm_legal], precision: 0)})" if @ville[:taux_hlm_legal].is_a? Numeric%> </th>
                <td class="text-center sub-row">
                  <%= @ville[:taux_hlm_2015] ? number_to_percentage(100 * @ville[:taux_hlm_2015], precision: 0) : "na" %>
                </td>
                <td class="text-center sub-row">-</td>
                <td class="text-center sub-row">
                  <% if @ville[:taux_hlm_2015] && 10000 * @ville[:taux_hlm_2015] < 625 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif @ville[:taux_hlm_2015] && 10000 * @ville[:taux_hlm_2015] < 1250 %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif @ville[:taux_hlm_2015] && 10000 * @ville[:taux_hlm_2015] < 1875 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% elsif @ville[:taux_hlm_2015] %>
                    <%= image_tag "gauge_max.png" %>
                <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row" class="category main-row">
                  <i class="fa fa-money" aria-hidden="true"></i> - Fiscalité
                </th>
                <td class="text-center main-row"></td>
                <td class="text-center main-row"></td>
                <td class="text-center main-row"></td>
              </tr>
              <tr>
                <th scope="row" class="indent sub-row">
                Taxe d'habitation
                <a data-toggle="modal" data-target="#modalTh">
                  <i class="fa fa-question-circle no-indent" aria-hidden="true"></i>
                </a>
                 / habitant (€)
                </th>
                <td class="text-center sub-row">
                  <%= number_with_precision((@comptes_2016[:th_produit_commune]+@comptes_2016[:th_produit_epci]+@comptes_2016[:th_produit_syndicat]) / @comptes_2016[:population], options = {delimiter: " ", precision: 0}) %>
                </td>
                <td class="text-center sub-row">
                  <%= number_with_precision((@comptes_moy_2016[:th_produit_commune]+@comptes_moy_2016[:th_produit_epci]+@comptes_moy_2016[:th_produit_syndicat]) / @comptes_moy_2016[:population], options = {delimiter: " ", precision: 0}) %>
                </td>
                <td class="text-center sub-row">
                  <% if (@comptes_2016[:th_produit_commune]+@comptes_2016[:th_produit_epci]+@comptes_2016[:th_produit_syndicat]) / @comptes_2016[:population] < (@comptes_moy_2016[:th_produit_commune]+@comptes_moy_2016[:th_produit_epci]+@comptes_moy_2016[:th_produit_syndicat]) / @comptes_moy_2016[:population] * 0.75 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif (@comptes_2016[:th_produit_commune]+@comptes_2016[:th_produit_epci]+@comptes_2016[:th_produit_syndicat]) / @comptes_2016[:population] < (@comptes_moy_2016[:th_produit_commune]+@comptes_moy_2016[:th_produit_epci]+@comptes_moy_2016[:th_produit_syndicat]) / @comptes_moy_2016[:population] %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif (@comptes_2016[:th_produit_commune]+@comptes_2016[:th_produit_epci]+@comptes_2016[:th_produit_syndicat]) / @comptes_2016[:population] < (@comptes_moy_2016[:th_produit_commune]+@comptes_moy_2016[:th_produit_epci]+@comptes_moy_2016[:th_produit_syndicat]) / @comptes_moy_2016[:population] * 1.25 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% else %>
                    <%= image_tag "gauge_max.png" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row" class="indent sub-row">Taxe foncière
                <a data-toggle="modal" data-target="#modalTf">
                  <i class="fa fa-question-circle no-indent" aria-hidden="true"></i>
                </a>
                / habitant (€)
                </th>
                <td class="text-center sub-row">
                  <%= number_with_precision((@comptes_2016[:tfb_produit_commune]+@comptes_2016[:tfb_produit_epci]+@comptes_2016[:tfb_produit_syndicat]) / @comptes_2016[:population], options = {delimiter: " ", precision: 0}) %>
                </td>
                <td class="text-center sub-row">
                  <%= number_with_precision((@comptes_moy_2016[:tfb_produit_commune]+@comptes_moy_2016[:tfb_produit_epci]+@comptes_moy_2016[:tfb_produit_syndicat]) / @comptes_moy_2016[:population], options = {delimiter: " ", precision: 0}) %>
                </td>
                <td class="text-center sub-row">
                  <% if (@comptes_2016[:tfb_produit_commune]+@comptes_2016[:tfb_produit_epci]+@comptes_2016[:tfb_produit_syndicat]) / @comptes_2016[:population] < (@comptes_moy_2016[:tfb_produit_commune]+@comptes_moy_2016[:tfb_produit_epci]+@comptes_moy_2016[:tfb_produit_syndicat]) / @comptes_moy_2016[:population] * 0.75 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif (@comptes_2016[:tfb_produit_commune]+@comptes_2016[:tfb_produit_epci]+@comptes_2016[:tfb_produit_syndicat]) / @comptes_2016[:population] < (@comptes_moy_2016[:tfb_produit_commune]+@comptes_moy_2016[:tfb_produit_epci]+@comptes_moy_2016[:tfb_produit_syndicat]) / @comptes_moy_2016[:population] %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif (@comptes_2016[:tfb_produit_commune]+@comptes_2016[:tfb_produit_epci]+@comptes_2016[:tfb_produit_syndicat]) / @comptes_2016[:population] < (@comptes_moy_2016[:tfb_produit_commune]+@comptes_moy_2016[:tfb_produit_epci]+@comptes_moy_2016[:tfb_produit_syndicat]) / @comptes_moy_2016[:population] * 1.25 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% else %>
                    <%= image_tag "gauge_max.png" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row" class="category main-row">
                  <i class="fa fa-university" aria-hidden="true"></i> - Finances
                </th>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
              </tr>
              <tr>
                <th scope="row" class="indent sub-row">Dépenses de fonctionnement
                <a data-toggle="modal" data-target="#modalFonctionnement">
                  <i class="fa fa-question-circle no-indent" aria-hidden="true"></i>
                </a>
                 / habitant (€)
                </th>
                <td class="text-center sub-row">
                  <%= number_with_precision(-@charges_fonctionnement_2016 / @comptes_2016[:population], options = {delimiter: " ", precision: 0})%>
                </td>
                <td class="text-center sub-row">
                  <%= number_with_precision(-@charges_fonctionnement_moy_2016 / @comptes_moy_2016[:population], options = {delimiter: " ", precision: 0})%>
                </td>
                <td class="text-center sub-row">
                  <% if -@charges_fonctionnement_2016 / @comptes_2016[:population] < -@charges_fonctionnement_moy_2016 / @comptes_moy_2016[:population] * 0.75 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif -@charges_fonctionnement_2016 / @comptes_2016[:population] < -@charges_fonctionnement_moy_2016 / @comptes_moy_2016[:population] %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif -@charges_fonctionnement_2016 / @comptes_2016[:population] < -@charges_fonctionnement_moy_2016 / @comptes_moy_2016[:population] * 1.25 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% else %>
                    <%= image_tag "gauge_max.png" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row" class="indent sub-row">Endettement / habitant (€)</th>
                <td class="text-center sub-row">
                  <%= number_with_precision(@comptes_2016[:endettement_16] / @comptes_2016[:population], options = {delimiter: " ", precision: 0})%>
                </td>
                <td class="text-center sub-row">
                  <%= number_with_precision(@comptes_moy_2016[:endettement_16] / @comptes_moy_2016[:population], options = {delimiter: " ", precision: 0})%>
                </td>
                <td class="text-center sub-row">
                  <% if @comptes_2016[:endettement_16] / @comptes_2016[:population] < @comptes_moy_2016[:endettement_16] / @comptes_moy_2016[:population] * 0.75 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif @comptes_2016[:endettement_16] / @comptes_2016[:population] < @comptes_moy_2016[:endettement_16] / @comptes_moy_2016[:population] %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif @comptes_2016[:endettement_16] / @comptes_2016[:population] < @comptes_moy_2016[:endettement_16] / @comptes_moy_2016[:population] * 1.25 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% else %>
                    <%= image_tag "gauge_max.png" %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <p class="footnote">
            (*) Moyenne des villes <%= @ville_moy[:nom].downcase %>
          </p>
          <br>
          <br>
          <p>
            Le revenu moyen des habitants de <%= @ville[:nom_propre]%> classe la commune dans le <%=  @ville[:decile_revenu] %><%= @ville[:decile_revenu] == 1 ? ("er") : ("ème") %> décile.
            C'est à dire que le revenu médian dans la commune se situe <%= @decile_comp %>.
            <br>
            <br>
            La somme des deux principaux impôts locaux (taxe d’habitation et taxe foncière sur le bâti)
            s’élève à <%= number_with_precision((@comptes_2016[:th_produit_commune]+@comptes_2016[:th_produit_epci]+@comptes_2016[:th_produit_syndicat]+@comptes_2016[:tfb_produit_commune]+@comptes_2016[:tfb_produit_epci]+@comptes_2016[:tfb_produit_syndicat]) / @comptes_2016[:population], options = {delimiter: " ", precision: 0}) %> € par habitant.
            C'est
            <% if 100*((@comptes_2016[:th_produit_commune]+@comptes_2016[:th_produit_epci]+@comptes_2016[:th_produit_syndicat]+@comptes_2016[:tfb_produit_commune]+@comptes_2016[:tfb_produit_epci]+@comptes_2016[:tfb_produit_syndicat]) / @comptes_2016[:population])/((@comptes_moy_2016[:th_produit_commune]+@comptes_moy_2016[:th_produit_epci]+@comptes_moy_2016[:th_produit_syndicat]+@comptes_moy_2016[:tfb_produit_commune]+@comptes_moy_2016[:tfb_produit_epci]+@comptes_moy_2016[:tfb_produit_syndicat]) / @comptes_moy_2016[:population])-100 >=0 %>
              <%= number_to_percentage(100*((@comptes_2016[:th_produit_commune]+@comptes_2016[:th_produit_epci]+@comptes_2016[:th_produit_syndicat]+@comptes_2016[:tfb_produit_commune]+@comptes_2016[:tfb_produit_epci]+@comptes_2016[:tfb_produit_syndicat]) / @comptes_2016[:population])/((@comptes_moy_2016[:th_produit_commune]+@comptes_moy_2016[:th_produit_epci]+@comptes_moy_2016[:th_produit_syndicat]+@comptes_moy_2016[:tfb_produit_commune]+@comptes_moy_2016[:tfb_produit_epci]+@comptes_moy_2016[:tfb_produit_syndicat]) / @comptes_moy_2016[:population])-100, precision: 0) %>
              de plus que la moyenne des villes de taille comparable.
            <% else %>
              <%= number_to_percentage(-(100*((@comptes_2016[:th_produit_commune]+@comptes_2016[:th_produit_epci]+@comptes_2016[:th_produit_syndicat]+@comptes_2016[:tfb_produit_commune]+@comptes_2016[:tfb_produit_epci]+@comptes_2016[:tfb_produit_syndicat]) / @comptes_2016[:population])/((@comptes_moy_2016[:th_produit_commune]+@comptes_moy_2016[:th_produit_epci]+@comptes_moy_2016[:th_produit_syndicat]+@comptes_moy_2016[:tfb_produit_commune]+@comptes_moy_2016[:tfb_produit_epci]+@comptes_moy_2016[:tfb_produit_syndicat]) / @comptes_moy_2016[:population])-100), precision: 0) %>
              de moins que la moyenne des villes de taille comparable.
            <% end %>
            <br>
            <br>
            Les dépenses de fonctionnement s'élevaient en 2016 à
            <%= number_with_precision(-@charges_fonctionnement_2016 / @comptes_2016[:population], options = {delimiter: " ", precision: 0}) %> € par habitant.
            C'est
            <% if 100*(@charges_fonctionnement_2016 / @comptes_2016[:population])/(@charges_fonctionnement_moy_2016 / @comptes_moy_2016[:population])-100 >=0 %>
              <%= number_to_percentage(100*(@charges_fonctionnement_2016 / @comptes_2016[:population])/(@charges_fonctionnement_moy_2016 / @comptes_moy_2016[:population])-100, precision: 0) %>
              de plus que la moyenne des villes de taille comparable.
            <% else %>
              <%= number_to_percentage(-(100*(@charges_fonctionnement_2016 / @comptes_2016[:population])/(@charges_fonctionnement_moy_2016 / @comptes_moy_2016[:population])-100), precision: 0) %>
              de moins que la moyenne des villes de taille comparable.
            <% end %>
            <br>
            <br>
            Des informations plus détaillées sont disponibles sur :
            <br>
            - <%= link_to "La fiscalité dans la commune", ville_fiscalite_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
            <br>
            - <%= link_to "Le niveau des dépenses dans la commune", ville_depenses_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
            <br>
            - <%= link_to "La santé financière de la commune", ville_finances_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
          </p>
          <br>
          <br>
          <p class="text-center">
            <%= image_tag "end_text_symbol.png" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Button trigger modal -->


<!-- Modal TH -->
<div class="modal fade" id="modalTh" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>La taxe d'habitation</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        La taxe d'habitation est due par le foyer occupant d'un logement.
        Elle est prélevée par la commune et l'intercommunalité.
        <br>
        <br>
        Elle est calculée à partir des bases cadastrales qui sont des estimations des revenus locatifs
        que génère ou pourrait générer un bien. Des taux votés par la commune et l'intercommunalité sont
        ensuite appliqués à cette base.
        <br>
        Les foyers avec de faibles revenus sont totalement ou partiellement exonérés de taxe d'habitation.
        <br>
        <br>
        La taxe d'habitation finance donc le budget de fonctionnement des communes et collectivités (achats, personnel, entretien).
        L'année dernière elle a rapporté 16,5 milliards d'euros aux collectivités.
      </p>
      </div>
      <div class="modal-footer">
        <p>
        Source : Les Collectivités locales en chiffres, DGCL, 2017
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Modal TF -->
<div class="modal fade" id="modalTf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Les taxes foncières</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        Il existe une taxe foncière sur le foncier bâti (immeubles, maisons, appartements, bureaux...)
        et une taxe foncière sur le foncier non bâti (terrains nus)
        <br>
        <br>
        La taxe foncière est dûe par le propriétaire d'un bien immobilier.
        <br>
        <br>
        Elle est calculée à partir des bases cadastrales qui sont des estimations des revenus locatifs
        que génère ou pourrait générer un bien. Des taux voté par la commune, l'intercommunalité et le département sont
        ensuite appliqués à cette base.
        <br>
        Les foyers avec de faibles revenus ou âgés peuvent bénéficier d'un abattement.
        <br>
        <br>
        La taxe sur le foncier bâti a rapporté 31,9 milliards d'euros en 2016, et la taxe sur le foncier non bâti 1 Md€. Leur produit
        finance pour un peu plus de la moitié les communes et intercommunalités et pour le reste les départements.
      </p>
      </div>
      <div class="modal-footer">
        <p>
        Source : Les Collectivités locales en chiffres, DGCL, 2017
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Revenu médian -->
<div class="modal fade" id="modalMedian" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Le revenu médian par ménage</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        Le revenu médian par ménage est le revenu qui sépare la population de sorte que 50% des ménages gagnent
        plus que ce revenu et 50% des ménages gagnent moins. C'est une donnée capitale pour apprécier le niveau des
        prélèvements dans une commune. Les ressources fiscales ont un potentiel bien plus important dans les communes
        avec un revenu médian élevé que dans les communes avec un revenu médian plus faible.
        <br>
        <br>
        Il est calculé par l'INSEE à partir du revenu fiscal déclaré par les ménages.
        <br>
        <br>
        En France, le revenu médian par ménage est de l'ordre de 20 000€ en 2014.
        <br>
        Le revenu médian se distingue du revenu moyen, basé sur la moyenne des revenus des ménages.
        Ce dernier est généralement supérieur au revenu médian car la moyenne peut fortement
        être tirée par le haut par quelques revenus très élevés mais très minoritaires.
        <br>
        <br>
        La plupart des statistiques nationales privilégient de ce fait le revenu médian. Pour des informations
        plus détaillées, vous pouvez consulter notre <%= link_to "notice méthodologique", pages_notice_methodologie_path %>
      </p>
      </div>
      <div class="modal-footer">
        <p>
        Source : INSEE
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Dépenses de fonctionnement -->
<div class="modal fade" id="modalFonctionnement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Les dépenses de fonctionnement</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        Les dépenses de fonctionnement correspondent aux dépenses récurrentes de la commune.
        <br>
        <br>
        Ces dépenses représentaient en 2016 pour les collectivités locales 169 milliards d'euros, soit 79% du total des dépenses.
        <br>
        <br>
        Les principaux types de dépenses de fonctionnement sont les suivantes:
        <br>
        - Charges de personnel : 61 milliards d'euros en 2016 soit 36% des dépenses de fonctionnement
        <br>
        - Dépenses d'intervention liées directement à l'action de la collectivité locale
        (voir notre <%= link_to "notice sur les compétences", pages_notice_competences_path %>):
        68 milliards d'euros en 2016 soit 40% des dépenses de fonctionnement
        <br>
        - Achats et charges externes telles que les fournitures, mobilier, électricité, téléphonie,
        prestations de services diverses : 30 milliards d'euros en 2016, soit 18% des dépenses de fonctionnement
        <br>
        - Intérêts de la dette : environ 3% des dépenses de fonctionnement
      </p>
      </div>
      <div class="modal-footer">
        <p>
        Source : collectivites-locales.gouv.fr, Fipeco
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Décile -->
<div class="modal fade" id="modalDecile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Les déciles de revenu médian</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        Le revenu médian par ménage est le revenu qui sépare la population de sorte que 50% des ménages gagnent plus que ce revenu et 50% des ménages gagnent moins.
        <br>
        <br>
        Il est calculé par l'INSEE à partir du revenu fiscal déclaré par les ménages.
        <br>
        <br>
        Une commune qui est dans le premier décile est une commune dont le revenu médian fait partie des 10% les plus faibles des communes françaises. A l'inverse une commune dans le dixième décile a un revenu médian qui est dans les 10% les plus élevés.
        <br>
        <br>
        En France, le revenu médian par ménage était de l'ordre de 35 000€ en 2014.
      </p>
      </div>
      <div class="modal-footer">
        <p>
        Source : INSEE
        </p>
      </div>
    </div>
  </div>
</div>

