<% content_for :head do %>
  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawMaterial);

function drawMaterial() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Année');
      data.addColumn('number', 'Taxe foncière');
      data.addColumn('number', "Taxe d'habitation");

      data.addRows([
        ["2008", <%= @comptes_2008[:recette_taxe_fonciere_bati] / @comptes_2008[:population] %>, <%= @comptes_2008[:recette_taxe_habitation] / @comptes_2008[:population] %>],
        ["2009", <%= @comptes_2009[:recette_taxe_fonciere_bati] / @comptes_2009[:population] %>, <%= @comptes_2009[:recette_taxe_habitation] / @comptes_2009[:population] %>],
        ["2010", <%= @comptes_2010[:recette_taxe_fonciere_bati] / @comptes_2010[:population] %>, <%= @comptes_2010[:recette_taxe_habitation] / @comptes_2010[:population] %>],
        ["2011", <%= @comptes_2011[:recette_taxe_fonciere_bati] / @comptes_2011[:population] %>, <%= @comptes_2011[:recette_taxe_habitation] / @comptes_2011[:population] %>],
        ["2012", <%= @comptes_2012[:recette_taxe_fonciere_bati] / @comptes_2012[:population] %>, <%= @comptes_2012[:recette_taxe_habitation] / @comptes_2012[:population] %>],
        ["2013", <%= @comptes_2013[:recette_taxe_fonciere_bati] / @comptes_2013[:population] %>, <%= @comptes_2013[:recette_taxe_habitation] / @comptes_2013[:population] %>],
        ["2014", <%= @comptes_2014[:recette_taxe_fonciere_bati] / @comptes_2014[:population] %>, <%= @comptes_2014[:recette_taxe_habitation] / @comptes_2014[:population] %>],
        ["2015", <%= @comptes_2015[:recette_taxe_fonciere_bati] / @comptes_2015[:population] %>, <%= @comptes_2015[:recette_taxe_habitation] / @comptes_2015[:population] %>],
      ]);

      var options = {
        'title' : 'Motivation and Energy Level Throughout the Day',
        'width' : 600,
        'height' : 300,
      };

      var materialChart = new google.charts.Bar(document.getElementById('chart_div'));
      materialChart.draw(data, options);
    }
    </script>
<% end %>


<div class="main-card-sm">
  <div class="sticky-side">
    <div>
      <button type="button" class="btn btn-default sticky-btn active">Finances</button>
    </div>
    <div>
      <button type="button" class="btn btn-default sticky-btn">Réseaux sociaux</button>
    </div>
    <div>
      <button type="button" class="btn btn-default sticky-btn">Discussions</button>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Commune</a></li>
    <li role="presentation"><a href="#">Agglomération</a></li>
    <li role="presentation"><a href="#">Département</a></li>
    <li role="presentation"><a href="#">Région</a></li>
  </ul>
  <div class="entity-title">
    <h1>
      <%= @ville[:nom].downcase.capitalize %>
    </h1>
  </div>
  <div class="card">
    <div class="card-title">
      <h3>Principaux indicateurs</h3>
    </div>
    <div class="card-tab">
      <table>
        <tr>
          <th class="top-left"></th>
          <th>
            <%= @ville[:nom].downcase.capitalize %>
          </th>
          <th>
            Moyenne <br>Yonne
            <i class="fa fa-question-circle to-explain" aria-hidden="true"><span class="explanation">Communes entre 10 000 et 50 000 habitants</span></i>
          </th>
          <th>
            Moyenne <br>France
            <i class="fa fa-question-circle to-explain" aria-hidden="true"><span class="explanation">Communes entre 10 000 et 50 000 habitants</span></i>
          </th>
          <th class="top-right"></th>
        </tr>
        <tr>
          <td>Taxe foncière / habitant (2015)</td>
          <td>
            <%= @comptes_2015[:recette_taxe_fonciere_bati] / @comptes_2015[:population] %> €
          </td>
          <td>dummy</td>
          <td>dummy</td>
          <td><i class="fa fa-circle red" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Taxe d'habitation / habitant (2015)</td>
          <td>dummy</td>
          <td>dummy</td>
          <td>dummy</td>
          <td><i class="fa fa-circle orange" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Budget (2015)</td>
          <td>dummy</td>
          <td>-</td>
          <td>-</td>
          <td></td>
        </tr>
        <tr>
          <td>Dépenses fonctionnement / habitant (2015)</td>
          <td>dummy</td>
          <td>dummy</td>
          <td>dummy</td>
          <td><i class="fa fa-circle orange" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Endettement / habitant (2015)</td>
          <td>dummy</td>
          <td>dummy</td>
          <td>dummy</td>
          <td><i class="fa fa-circle green" aria-hidden="true"></i></td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="card">
    <div class="card-title">
      <h3>Historique - Impôts locaux</h3>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
    </div>
    <div class="card-tab">
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="card">
    <div class="card-title">
      <h3>Historique - Comptes communaux</h3>
    </div>
    <div class="card-tab">
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
