<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-12">
    </div>
    <div class="col-md-11 col-sm-12">
      <br>
      <div class="entity-title">
        <h2>
          <strong><%= @ville[:nom_propre].upcase%></strong>
        </h2>
      </div>
      <div class="text-center">
        <%= image_tag "town_illustration.png" %>
      </div>
      <br>
      <ul class="nav nav-tabs">
        <li role="presentation">
          <%= link_to "Synthèse", ville_synthese_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation">
          <%= link_to "Chiffres clés", ville_indicateurs_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation">
          <%= link_to "Fiscalité", ville_fiscalite_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation" >
          <%= link_to "Dépenses", ville_depenses_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation" class="active" >
          <%= link_to "Finances", ville_finances_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
      </ul>
      <br>
      <div class="card">
        <div class="card-title">
          <br>
          <h4><strong>Situation financière de la commune</strong></h4>
          <br>
          <div class="card-tab">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">
                    Capacité d'autofinancement
                    <a data-toggle="modal" data-target="#modalAutofinancement">
                      <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                  </th>
                  <th class="text-center">
                    Capacité à rembourser la dette
                    <a data-toggle="modal" data-target="#modalEndettement">
                      <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    <% if 100 * (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/@comptes_2015[:recette_total_fonctionnement] <7 %>
                      <%= image_tag "capa_fin_min.png" %>
                    <% elsif 100 * (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/@comptes_2015[:recette_total_fonctionnement] < 10 %>
                      <%= image_tag "capa_fin_small_min.png" %>
                    <% elsif 100 * (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/@comptes_2015[:recette_total_fonctionnement] < 13 %>
                      <%= image_tag "capa_fin_small_max.png" %>
                    <% else %>
                      <%= image_tag "capa_fin_max.png" %>
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if 100 * @comptes_2015[:endettement_encours] / (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement]) < 0 %>
                      <%= image_tag "capa_fin_min.png" %>
                    <% elsif 100 * @comptes_2015[:endettement_encours] / (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement]) > 1000 %>
                      <%= image_tag "capa_fin_min.png" %>
                    <% elsif 100 * @comptes_2015[:endettement_encours] / (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement]) > 750 %>
                      <%= image_tag "capa_fin_small_min.png" %>
                    <% elsif 100 * @comptes_2015[:endettement_encours] / (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement]) > 500 %>
                      <%= image_tag "capa_fin_small_max.png" %>
                    <% else %>
                      <%= image_tag "capa_fin_max.png" %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <br>
          <br>
          <p>
            Le budget d'une commune se compose de deux parties :
            <br>
            <br>
            - le <strong>budget de fonctionnement</strong> correspond aux recettes (taxes et impôts locaux, dotation de l'Etat)
            et dépenses (personnel, fournitures...) récurrentes d'une commune,
            <br>
            - le <strong>budget d'investissement</strong> correspond à des dépenses d'équipement et à leur financement (subventions, emprunt).
            <br>
            <br>
            <strong>Le solde du budget de fonctionnement (recettes - dépenses) est appelé épargne brute en comptabilité publique.</strong>
            <br>
            L'épargne brute finance les investissements de la commune. Si elle est insuffisante, la
            commune peut avoir recours à l'emprunt ou demander des subventions à d'autres institutions
            (département, région, Union Européenne)
            <br>
            <br>
            Plusieurs indicateurs permettent d'évaluer la santé financière d'une commune :
            <br>
            <br>
            <strong>1.</strong> La part de l'épargne brute dans le budget de fonctionnement indique la capacité
            de la commune à financer elle-même ses investissements et à faire face à des imprévus.
            A <%= @ville[:nom_propre] %> en 2015 elle était de <%= number_with_precision(100*(@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/@comptes_2015[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
            contre 11% en moyenne en France.
            <br>
            <br>
            <strong>2.</strong> Le niveau d'endettement par rapport à l'épargne brute révèle la soutenabilité de la
             dette de la commune et donc sa capacité à emprunter à nouveau pour financer ses investissements.
             A <%= @ville[:nom_propre] %> l'endettement représentait <%= number_with_precision(@comptes_2015[:endettement_encours] / (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>
             fois l'épargne brute annuelle en 2015, contre 7 fois en moyenne en France
            <br>
            <br>
            <strong>3.</strong> L 'évolution de ces ratios permet d'évaluer l'action des élus sur la santé financière de la commune.
            <br>
            <br>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th class="text-center">
                    2010
                  </th>
                  <th class="text-center">
                    2011
                  </th>
                  <th class="text-center">
                    2012
                  </th>
                  <th class="text-center">
                    2013
                  </th>
                  <th class="text-center">
                    2014
                  </th>
                  <th class="text-center">
                    2015
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Recettes de fonctionnement (M€) (1)</th>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2010[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2011[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2012[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2013[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2014[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2015[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><i class="subcategory">Dont impôts (M€)</i></th>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2010[:recette_taxe_habitation]+@comptes_2010[:recette_taxe_fonciere_non_bati]+@comptes_2010[:recette_taxe_fonciere_bati]+@comptes_2010[:recette_taxe_surfaces_commerciales]+@comptes_2010[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2011[:recette_taxe_habitation]+@comptes_2011[:recette_taxe_fonciere_non_bati]+@comptes_2011[:recette_taxe_fonciere_bati]+@comptes_2011[:recette_taxe_surfaces_commerciales]+@comptes_2011[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2012[:recette_taxe_habitation]+@comptes_2012[:recette_taxe_fonciere_non_bati]+@comptes_2012[:recette_taxe_fonciere_bati]+@comptes_2012[:recette_taxe_surfaces_commerciales]+@comptes_2012[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2013[:recette_taxe_habitation]+@comptes_2013[:recette_taxe_fonciere_non_bati]+@comptes_2013[:recette_taxe_fonciere_bati]+@comptes_2013[:recette_taxe_surfaces_commerciales]+@comptes_2013[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2014[:recette_taxe_habitation]+@comptes_2014[:recette_taxe_fonciere_non_bati]+@comptes_2014[:recette_taxe_fonciere_bati]+@comptes_2014[:recette_taxe_surfaces_commerciales]+@comptes_2014[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2015[:recette_taxe_habitation]+@comptes_2015[:recette_taxe_fonciere_non_bati]+@comptes_2015[:recette_taxe_fonciere_bati]+@comptes_2015[:recette_taxe_surfaces_commerciales]+@comptes_2015[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><i class="subcategory">Dont dotation de l'Etat (M€)</i></th>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2010[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2011[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2012[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2013[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2014[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2015[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Dépenses de fonctionnement
                  <a data-toggle="modal" data-target="#modalFonctionnement">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </a>
                   (M€) (2)
                  </th>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2010[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2011[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2012[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2013[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2014[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2015[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Epargne brute (M€) (1)-(2)</th>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2010[:recette_total_fonctionnement] - @comptes_2010[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2011[:recette_total_fonctionnement] - @comptes_2011[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2012[:recette_total_fonctionnement] - @comptes_2012[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2013[:recette_total_fonctionnement] - @comptes_2013[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2014[:recette_total_fonctionnement] - @comptes_2014[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="category">Epargne brute / recettes</th>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2010[:recette_total_fonctionnement] - @comptes_2010[:charge_total_fonctionnement])/@comptes_2010[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2011[:recette_total_fonctionnement] - @comptes_2011[:charge_total_fonctionnement])/@comptes_2011[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2012[:recette_total_fonctionnement] - @comptes_2012[:charge_total_fonctionnement])/@comptes_2012[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2013[:recette_total_fonctionnement] - @comptes_2013[:charge_total_fonctionnement])/@comptes_2013[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2014[:recette_total_fonctionnement] - @comptes_2014[:charge_total_fonctionnement])/@comptes_2014[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/@comptes_2015[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                </tr>
                <tr>
                  <th scope="row">Dépenses d'équipement
                  <a data-toggle="modal" data-target="#modalEquipement">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                  </a>
                   (M€)
                  </th>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2010[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2011[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2012[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2013[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2014[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2015[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Subventions reçues (M€) </th>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2010[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2011[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2012[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2013[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2014[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2015[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Endettement (M€) </th>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2010[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2011[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2012[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2013[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2014[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2015[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="category">Endettement / épargne brute</th>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2010[:endettement_encours] / (@comptes_2010[:recette_total_fonctionnement] - @comptes_2010[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2011[:endettement_encours] / (@comptes_2011[:recette_total_fonctionnement] - @comptes_2011[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2012[:endettement_encours] / (@comptes_2012[:recette_total_fonctionnement] - @comptes_2012[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2013[:endettement_encours] / (@comptes_2013[:recette_total_fonctionnement] - @comptes_2013[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2014[:endettement_encours] / (@comptes_2014[:recette_total_fonctionnement] - @comptes_2014[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2015[:endettement_encours] / (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="category">Endettement / habitant</th>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2010[:endettement_encours] / (@comptes_2010[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2011[:endettement_encours] / (@comptes_2011[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2012[:endettement_encours] / (@comptes_2012[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2013[:endettement_encours] / (@comptes_2013[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2014[:endettement_encours] / (@comptes_2014[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2015[:endettement_encours] / (@comptes_2015[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                </tr>
              </tbody>
            </table>
          </p>
          <br>
          <br>
          <p class="text-center">
            <%= image_tag "end_text_symbol.png" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Capacité d'autofinancement -->
<div class="modal fade" id="modalAutofinancement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Le capacité d'autofinancement</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        La capacité d'autofinancement est la capacité de la collectivité à financer des investissements
        par des ressources propres plutôt que par l'emprunt ou des subventions d'autres instances publiques.
        <br>
        <br>
        Le budget d'une commune se compose de deux parties :
        <br>
        - le <strong>budget de fonctionnement</strong> correspond aux recettes (taxes et impôts locaux, dotation de l'Etat)
        et dépenses (personnel, fournitures...) récurrentes d'une commune,
        <br>
        - le <strong>budget d'investissement</strong> correspond à des dépenses d'équipement et à leur financement (subventions, emprunt). 
        <br>
        <br>
        <strong>Le solde du budget de fonctionnement (recettes - dépenses) est appelé épargne brute en comptabilité publique.</strong>
        <br>
        <br>
        La capacité d'autofinancement d'une commune est ici mesurée par le ratio: Epargne brute / Recette de fonctionnement.
        Plus ce ratio est élevé, plus la commune dégage par son fonctionnement un excédent capable de financer
        ses investissements.
        <br>
        En France en 2015, ce ratio était de 11% en moyenne.
      </p>
      </div>
      <div class="modal-footer">
        <p>
        Sources : Cahier INET "Déchiffrer les Comptes des Collectivités Locales", données collectivites-locales.gouv.fr
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Capacité à rembourser la dette -->
<div class="modal fade" id="modalEndettement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>La capacité à rembourser la dette</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        La capacité à rembourser la dette d'une commune est une information clé :
        une commune qui est en voie de surendettement devra en effet consacrer des sommes
        importantes au remboursement du capital de l'emprunt ce qui grèvera sa capacité
        d'investissement et payer d'importants frais financiers ce qui impactera son budget de fonctionnement.
        <br>
        Elle détermine d'autre part le risque que prend l'investisseur en accordant un nouveau prêt à la collectivité,
        et donc le taux d'intérêt qui va être appliqué.
        <br>
        <br>
        On peut la mesurer par le ratio: Encours de dette / Epargne brute qui mesure le nombre d'années
        théorique que la collectivité mettrait à rembourser la dette contractée au niveau actuel d'excédent de fonctionnement.
        <br>
        <br>
        En France en 2015, ce ratio était de 7x en moyenne.
      </p>
      </div>
      <div class="modal-footer">
        <p>
        Sources : Cahier INET "Déchiffrer les Comptes des Collectivités Locales", données collectivites-locales.gouv.fr
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Dépenses de fonctionnement -->
<div class="modal fade" id="modalFonctionnement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Les dépenses de fonctionnement</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        Les dépenses de fonctionnement correspondent aux dépenses récurrentes de la commune.
        <br>
        <br>
        Ces dépenses représentaient en 2016 pour les collectivités locales 169 milliards d'euros, soit 79% du total des dépenses.
        <br>
        <br>
        Les principaux types de dépenses de fonctionnement sont les suivantes:
        <br>
        - Charges de personnel : 61 milliards d'euros en 2016 soit 36% des dépenses de fonctionnement
        <br>
        - Dépenses d'intervention liées directement à l'action de la collectivité locale
        (voir notre <%= link_to "notice sur les compétences", pages_notice_competences_path %>):
        68 milliards d'euros en 2015 soit 40% des dépenses de fonctionnement
        <br>
        - Achats et charges externes telles que les fournitures, mobilier, électricité, téléphonie,
        prestations de services diverses : 30 milliards d'euros en 2016, soit 18% des dépenses de fonctionnement
        <br>
        - Intérêts de la dette : environ 3% des dépenses de fonctionnement
      </p>
      </div>
      <div class="modal-footer">
        <p>
        Source : collectivites-locales.gouv.fr, Fipeco
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Dépenses d'équipement' -->
<div class="modal fade" id="modalEquipement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Les dépenses d'équipement</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        Les dépenses d'investissement ou d'équipement modifient la valeur du patrimoine de la collectivité :
        <br>
        - Travaux d'équipement, d'infrastructures, construction ou rénovation de bâtiments
        <br>
        - Acquisition de valeurs mobilières ou immobilières
        <br>
        - Achats de produits "durables" (parc automobile, …)
        <br>
        - Subventions d'investissement versées à des acteurs locaux
        <br>
        <br>
        Ces dépenses d'investissement ont représenté en 2015 51 milliards d'euros soit 23% des dépenses totales
        <br>
        59% de l'effort d'investissement est effectué au niveau de la commune et des communautés de commune,
        contre 22% pour les départements et 19% pour les régions.
        <br>
        <br>
        Pour plus d'information sur la structure des budgets, vous pouvez consulter
        notre <%= link_to "notice dédiée", pages_notice_structure_path %>)
        <br>
        Pour plus d'information sur la comptabilité des communes, vous pouvez consulter
        notre <%= link_to "notice méthodologique", pages_notice_methodologie_path %>)
      </p>
      </div>
      <div class="modal-footer">
        <p>
        Source : collectivites-locales.gouv.fr, Fipeco
        </p>
      </div>
    </div>
  </div>
</div>


