<% content_for :head do %>
  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar'], 'language': 'fr'});
      google.charts.setOnLoadCallback(drawEndettement);

      function drawEndettement() {
        var data = google.visualization.arrayToDataTable([
          ['', "Endettement / habitant", "Endettement / habitant moy"],
          ["2008", <%= @comptes_2008[:endettement_encours] / @comptes_2008[:population]%>, <%= @comptes_moy_2008[:endettement_encours] / @comptes_moy_2008[:population]%>],
          ["2009", <%= @comptes_2009[:endettement_encours] / @comptes_2009[:population]%>, <%= @comptes_moy_2009[:endettement_encours] / @comptes_moy_2009[:population]%>],
          ["2010", <%= @comptes_2010[:endettement_encours] / @comptes_2010[:population]%>, <%= @comptes_moy_2010[:endettement_encours] / @comptes_moy_2010[:population]%>],
          ["2011", <%= @comptes_2011[:endettement_encours] / @comptes_2011[:population]%>, <%= @comptes_moy_2011[:endettement_encours] / @comptes_moy_2011[:population]%>],
          ["2012", <%= @comptes_2012[:endettement_encours] / @comptes_2012[:population]%>, <%= @comptes_moy_2012[:endettement_encours] / @comptes_moy_2012[:population]%>],
          ["2013", <%= @comptes_2013[:endettement_encours] / @comptes_2013[:population]%>, <%= @comptes_moy_2013[:endettement_encours] / @comptes_moy_2013[:population]%>],
          ["2014", <%= @comptes_2014[:endettement_encours] / @comptes_2014[:population]%>, <%= @comptes_moy_2014[:endettement_encours] / @comptes_moy_2014[:population]%>],
          ["2015", <%= @comptes_2015[:endettement_encours] / @comptes_2015[:population]%>, <%= @comptes_moy_2015[:endettement_encours] / @comptes_moy_2015[:population]%>],
        ]);

        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 200
          },
          'legend' : {
            'alignment': 'center'
          },
          colors: ['#2196F3', '#B0BEC5']
        };

        var endettementchart = new google.charts.Bar(document.getElementById('endettement_chart_div'));
        endettementchart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
<% end %>


<div class="main-card-sm">
  <div class="sticky-side">
    <div>
      <button type="button" class="btn btn-default sticky-btn active">Commune</button>
    </div>
    <div>
      <button type="button" class="btn btn-default sticky-btn">Agglomération</button>
    </div>
    <div>
      <button type="button" class="btn btn-default sticky-btn">Département</button>
    </div>
    <div>
      <button type="button" class="btn btn-default sticky-btn">Région</button>
    </div>
  </div>
  <div class="entity-title">
    <h1>
      <%= @ville[:nom].downcase.capitalize %>
    </h1>
  </div>
  <br>
  <ul class="nav nav-tabs">
    <li role="presentation">
      <%= link_to "Indicateurs", ville_indicateurs_path(nom: @ville.nom) %>
    </li>
    <li role="presentation"">
      <%= link_to "Fiscalité", ville_fiscalite_path(nom: @ville.nom) %>
    </li>
    <li role="presentation">
      <%= link_to "Budget", ville_budget_path(nom: @ville.nom) %>
    </li>
    <li role="presentation" class="active">
      <%= link_to "Endettement", ville_endettement_path(nom: @ville.nom) %>
    </li>
    <li role="presentation"><a href="#">Discussions</a></li>
  </ul>
  <br>
  <div class="card">
    <div class="card-title">
      <br>
      <h4><strong>Historique - Endettement de la commune</strong></h4>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas tortor at nibh lobortis euismod. Pellentesque at purus eget justo feugiat condimentum. Proin rhoncus nunc sit amet dictum tempor. Vivamus in enim in orci maximus vulputate et sed dolor. Aenean quis lacus eros. Integer magna turpis, auctor quis tincidunt eu, porttitor a augue.
      </p>
      <br>
      <p>
        A la fin 2015, l'endettement total de la ville de <%= @ville[:nom].downcase.capitalize %> est de <%= @comptes_2015[:endettement_encours] / 1000000 %> M€ soit <%= @comptes_2015[:endettement_encours] / @comptes_2015[:population]%> € par habitant.
      </p>
      <p>
        Evolution de l'endettement à <%= @ville[:nom].downcase.capitalize %> et pour le moyenne des villes françaises avec une population <%= @ville_moy[:nom].downcase %>
      </p>
    </div>
    <div class="card-tab">
      <div id="endettement_chart_div"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
