<% content_for :head do %>
  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar'], 'language': 'fr'});
      google.charts.setOnLoadCallback(drawFonctionnement);

      function drawFonctionnement() {
        var data = google.visualization.arrayToDataTable([
          ['', "Dépenses de fonctionnement / habitant", "Dépenses de fonctionnement / habitant moyenne"],
          ["2008", <%= @comptes_2008[:charge_total_fonctionnement] / @comptes_2008[:population] %>, <%= @comptes_moy_2008[:charge_total_fonctionnement] / @comptes_moy_2008[:population] %>],
          ["2009", <%= @comptes_2009[:charge_total_fonctionnement] / @comptes_2009[:population] %>, <%= @comptes_moy_2008[:charge_total_fonctionnement] / @comptes_moy_2008[:population] %>],
          ["2010", <%= @comptes_2010[:charge_total_fonctionnement] / @comptes_2010[:population] %>, <%= @comptes_moy_2008[:charge_total_fonctionnement] / @comptes_moy_2008[:population] %>],
          ["2011", <%= @comptes_2011[:charge_total_fonctionnement] / @comptes_2011[:population] %>, <%= @comptes_moy_2008[:charge_total_fonctionnement] / @comptes_moy_2008[:population] %>],
          ["2012", <%= @comptes_2012[:charge_total_fonctionnement] / @comptes_2012[:population] %>, <%= @comptes_moy_2008[:charge_total_fonctionnement] / @comptes_moy_2008[:population] %>],
          ["2013", <%= @comptes_2013[:charge_total_fonctionnement] / @comptes_2013[:population] %>, <%= @comptes_moy_2008[:charge_total_fonctionnement] / @comptes_moy_2008[:population] %>],
          ["2014", <%= @comptes_2014[:charge_total_fonctionnement] / @comptes_2014[:population] %>, <%= @comptes_moy_2008[:charge_total_fonctionnement] / @comptes_moy_2008[:population] %>],
          ["2015", <%= @comptes_2015[:charge_total_fonctionnement] / @comptes_2015[:population] %>, <%= @comptes_moy_2008[:charge_total_fonctionnement] / @comptes_moy_2008[:population] %>],
        ]);


        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 200
          },
          colors: ['#2196F3','#B0BEC5'],
          'legend' : {
            'alignment': 'center'
          },
        };

        var investissementchart = new google.charts.Bar(document.getElementById('fonctionnement_chart_div'));
        investissementchart.draw(data, google.charts.Bar.convertOptions(options));
      }

    </script>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-12">
    </div>
    <div class="col-md-11 col-sm-12">
      <br>
      <div class="entity-title">
        <h2>
          <strong><%= @ville[:nom]%></strong>
        </h2>
      </div>
      <div class="text-center">
        <%= image_tag "town_illustration.png" %>
      </div>
      <br>
      <ul class="nav nav-tabs">
        <li role="presentation">
          <%= link_to "Synthèse", ville_synthese_path(nom: @ville.nom) %>
        </li>
        <li role="presentation">
          <%= link_to "Indicateurs", ville_indicateurs_path(nom: @ville.nom) %>
        </li>
        <li role="presentation">
          <%= link_to "Fiscalité", ville_fiscalite_path(nom: @ville.nom) %>
        </li>
        <li role="presentation" class="active" >
          <%= link_to "Dépenses", ville_depenses_path(nom: @ville.nom) %>
        </li>
        <li role="presentation">
          <%= link_to "Finances", ville_finances_path(nom: @ville.nom) %>
        </li>
      </ul>
      <br>
      <div class="card">
        <div class="card-title">
          <br>
          <h4><strong>Niveau des dépenses de la commune</strong></h4>
          <br>
          <p>
            Une commune ne doit pas seulement garder une marge de manoeuvre financière.
            <br>
            Elle doit dans l'idéal fournir un bon niveau de services à sa population, pour un coût
            qui reste le plus raisonnable possible.
            <br>
            <br>
            Le graphique ci-dessous compare le niveau de dépenses de fonctionnement par habitant pour <%= @ville[:nom_propre] %>
            avec la moyenne des villes de même taille. Un montant de dépenses élevé devrait correspondre à une qualité
            de services municipaux supérieure à la moyenne.
          </p>
          <br>
        </div>
        <div class="card-tab">
          <div id="fonctionnement_chart_div"></div>
        </div>
        <br>
        <br>
        <p class="text-center">
          <%= image_tag "end_text_symbol.png" %>
        </p>
      </div>
    </div>
  </div>
</div>
