<% content_for :head do %>
  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar'], 'language': 'fr'});
      google.charts.setOnLoadCallback(drawImpots);
      google.charts.setOnLoadCallback(drawFonctionnement);
      google.charts.setOnLoadCallback(drawInvestissement);
      google.charts.setOnLoadCallback(drawEndettement);

      function drawImpots() {
        var data = google.visualization.arrayToDataTable([
          ['', 'Taxe foncière / habitant', "Taxe d'habitation / habitant", { role: 'annotation' } ],
          ["2008", <%= @comptes_2008[:recette_taxe_fonciere_bati] / @comptes_2008[:population] %>, <%= @comptes_2008[:recette_taxe_habitation] / @comptes_2008[:population] %>, ''],
          ["2009", <%= @comptes_2009[:recette_taxe_fonciere_bati] / @comptes_2009[:population] %>, <%= @comptes_2009[:recette_taxe_habitation] / @comptes_2009[:population] %>, ''],
          ["2010", <%= @comptes_2010[:recette_taxe_fonciere_bati] / @comptes_2010[:population] %>, <%= @comptes_2010[:recette_taxe_habitation] / @comptes_2010[:population] %>, ''],
          ["2011", <%= @comptes_2011[:recette_taxe_fonciere_bati] / @comptes_2011[:population] %>, <%= @comptes_2011[:recette_taxe_habitation] / @comptes_2011[:population] %>, ''],
          ["2012", <%= @comptes_2012[:recette_taxe_fonciere_bati] / @comptes_2012[:population] %>, <%= @comptes_2012[:recette_taxe_habitation] / @comptes_2012[:population] %>, ''],
          ["2013", <%= @comptes_2013[:recette_taxe_fonciere_bati] / @comptes_2013[:population] %>, <%= @comptes_2013[:recette_taxe_habitation] / @comptes_2013[:population] %>, ''],
          ["2014", <%= @comptes_2014[:recette_taxe_fonciere_bati] / @comptes_2014[:population] %>, <%= @comptes_2014[:recette_taxe_habitation] / @comptes_2014[:population] %>, ''],
          ["2015", <%= @comptes_2015[:recette_taxe_fonciere_bati] / @comptes_2015[:population] %>, <%= @comptes_2015[:recette_taxe_habitation] / @comptes_2015[:population] %>, ''],
        ]);

        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 200
          },
          'legend' : {
            'alignment': 'center'
          },
          'isStacked': true,
        };

        var impotschart = new google.charts.Bar(document.getElementById('impots_chart_div'));
        impotschart.draw(data, google.charts.Bar.convertOptions(options));
      }

      function drawFonctionnement() {
        var data = google.visualization.arrayToDataTable([
          ['', 'Charges de personnel', "Achats", "Suventions et contingents", "Intérêts", "Autres charges", "Dotation", "Impôts et taxes", "Autres recettes"],
          ["2008", <%= - @comptes_2008[:charge_personnel]%>, <%= - @comptes_2008[:charge_achats] %>, <%= - @comptes_2008[:charge_subventions] - @comptes_2008[:charge_contingents] %>, <%= - @comptes_2008[:charge_charges_financieres] %>, <%= - @comptes_2008[:charge_total_fonctionnement] + @comptes_2008[:charge_personnel] + @comptes_2008[:charge_achats] + @comptes_2008[:charge_subventions] + @comptes_2008[:charge_contingents] + @comptes_2008[:charge_charges_financieres] %>, <%= @comptes_2008[:recette_dotation_fonctionnement]%>, <%= @comptes_2008[:recette_taxe_habitation] + @comptes_2008[:recette_taxe_fonciere_non_bati] + @comptes_2008[:recette_taxe_fonciere_bati] + @comptes_2008[:recette_autres_impots_taxes]%>, <%= @comptes_2008[:recette_total_fonctionnement] - @comptes_2008[:recette_dotation_fonctionnement] - @comptes_2008[:recette_taxe_habitation] - @comptes_2008[:recette_taxe_fonciere_non_bati] - @comptes_2008[:recette_taxe_fonciere_bati] - @comptes_2008[:recette_autres_impots_taxes]%>],
          ["2009", <%= - @comptes_2009[:charge_personnel]%>, <%= - @comptes_2009[:charge_achats] %>, <%= - @comptes_2009[:charge_subventions] - @comptes_2009[:charge_contingents] %>, <%= - @comptes_2009[:charge_charges_financieres] %>, <%= - @comptes_2009[:charge_total_fonctionnement] + @comptes_2009[:charge_personnel] + @comptes_2009[:charge_achats] + @comptes_2009[:charge_subventions] + @comptes_2009[:charge_contingents] + @comptes_2009[:charge_charges_financieres] %>, <%= @comptes_2009[:recette_dotation_fonctionnement]%>, <%= @comptes_2009[:recette_taxe_habitation] + @comptes_2009[:recette_taxe_fonciere_non_bati] + @comptes_2009[:recette_taxe_fonciere_bati] + @comptes_2009[:recette_autres_impots_taxes]%>, <%= @comptes_2009[:recette_total_fonctionnement] - @comptes_2009[:recette_dotation_fonctionnement] - @comptes_2009[:recette_taxe_habitation] - @comptes_2009[:recette_taxe_fonciere_non_bati] - @comptes_2009[:recette_taxe_fonciere_bati] - @comptes_2009[:recette_autres_impots_taxes]%>],
          ["2010", <%= - @comptes_2010[:charge_personnel]%>, <%= - @comptes_2010[:charge_achats] %>, <%= - @comptes_2010[:charge_subventions] - @comptes_2010[:charge_contingents] %>, <%= - @comptes_2010[:charge_charges_financieres] %>, <%= - @comptes_2010[:charge_total_fonctionnement] + @comptes_2010[:charge_personnel] + @comptes_2010[:charge_achats] + @comptes_2010[:charge_subventions] + @comptes_2010[:charge_contingents] + @comptes_2010[:charge_charges_financieres] %>, <%= @comptes_2010[:recette_dotation_fonctionnement]%>, <%= @comptes_2010[:recette_taxe_habitation] + @comptes_2010[:recette_taxe_fonciere_non_bati] + @comptes_2010[:recette_taxe_fonciere_bati] + @comptes_2010[:recette_autres_impots_taxes]%>, <%= @comptes_2010[:recette_total_fonctionnement] - @comptes_2010[:recette_dotation_fonctionnement] - @comptes_2010[:recette_taxe_habitation] - @comptes_2010[:recette_taxe_fonciere_non_bati] - @comptes_2010[:recette_taxe_fonciere_bati] - @comptes_2010[:recette_autres_impots_taxes]%>],
          ["2011", <%= - @comptes_2011[:charge_personnel]%>, <%= - @comptes_2011[:charge_achats] %>, <%= - @comptes_2011[:charge_subventions] - @comptes_2011[:charge_contingents] %>, <%= - @comptes_2011[:charge_charges_financieres] %>, <%= - @comptes_2011[:charge_total_fonctionnement] + @comptes_2011[:charge_personnel] + @comptes_2011[:charge_achats] + @comptes_2011[:charge_subventions] + @comptes_2011[:charge_contingents] + @comptes_2011[:charge_charges_financieres] %>, <%= @comptes_2011[:recette_dotation_fonctionnement]%>, <%= @comptes_2011[:recette_taxe_habitation] + @comptes_2011[:recette_taxe_fonciere_non_bati] + @comptes_2011[:recette_taxe_fonciere_bati] + @comptes_2011[:recette_autres_impots_taxes]%>, <%= @comptes_2011[:recette_total_fonctionnement] - @comptes_2011[:recette_dotation_fonctionnement] - @comptes_2011[:recette_taxe_habitation] - @comptes_2011[:recette_taxe_fonciere_non_bati] - @comptes_2011[:recette_taxe_fonciere_bati] - @comptes_2011[:recette_autres_impots_taxes]%>],
          ["2012", <%= - @comptes_2012[:charge_personnel]%>, <%= - @comptes_2012[:charge_achats] %>, <%= - @comptes_2012[:charge_subventions] - @comptes_2012[:charge_contingents] %>, <%= - @comptes_2012[:charge_charges_financieres] %>, <%= - @comptes_2012[:charge_total_fonctionnement] + @comptes_2012[:charge_personnel] + @comptes_2012[:charge_achats] + @comptes_2012[:charge_subventions] + @comptes_2012[:charge_contingents] + @comptes_2012[:charge_charges_financieres] %>, <%= @comptes_2012[:recette_dotation_fonctionnement]%>, <%= @comptes_2012[:recette_taxe_habitation] + @comptes_2012[:recette_taxe_fonciere_non_bati] + @comptes_2012[:recette_taxe_fonciere_bati] + @comptes_2012[:recette_autres_impots_taxes]%>, <%= @comptes_2012[:recette_total_fonctionnement] - @comptes_2012[:recette_dotation_fonctionnement] - @comptes_2012[:recette_taxe_habitation] - @comptes_2012[:recette_taxe_fonciere_non_bati] - @comptes_2012[:recette_taxe_fonciere_bati] - @comptes_2012[:recette_autres_impots_taxes]%>],
          ["2013", <%= - @comptes_2013[:charge_personnel]%>, <%= - @comptes_2013[:charge_achats] %>, <%= - @comptes_2013[:charge_subventions] - @comptes_2013[:charge_contingents] %>, <%= - @comptes_2013[:charge_charges_financieres] %>, <%= - @comptes_2013[:charge_total_fonctionnement] + @comptes_2013[:charge_personnel] + @comptes_2013[:charge_achats] + @comptes_2013[:charge_subventions] + @comptes_2013[:charge_contingents] + @comptes_2013[:charge_charges_financieres] %>, <%= @comptes_2013[:recette_dotation_fonctionnement]%>, <%= @comptes_2013[:recette_taxe_habitation] + @comptes_2013[:recette_taxe_fonciere_non_bati] + @comptes_2013[:recette_taxe_fonciere_bati] + @comptes_2013[:recette_autres_impots_taxes]%>, <%= @comptes_2013[:recette_total_fonctionnement] - @comptes_2013[:recette_dotation_fonctionnement] - @comptes_2013[:recette_taxe_habitation] - @comptes_2013[:recette_taxe_fonciere_non_bati] - @comptes_2013[:recette_taxe_fonciere_bati] - @comptes_2013[:recette_autres_impots_taxes]%>],
          ["2014", <%= - @comptes_2014[:charge_personnel]%>, <%= - @comptes_2014[:charge_achats] %>, <%= - @comptes_2014[:charge_subventions] - @comptes_2014[:charge_contingents] %>, <%= - @comptes_2014[:charge_charges_financieres] %>, <%= - @comptes_2014[:charge_total_fonctionnement] + @comptes_2014[:charge_personnel] + @comptes_2014[:charge_achats] + @comptes_2014[:charge_subventions] + @comptes_2014[:charge_contingents] + @comptes_2014[:charge_charges_financieres] %>, <%= @comptes_2014[:recette_dotation_fonctionnement]%>, <%= @comptes_2014[:recette_taxe_habitation] + @comptes_2014[:recette_taxe_fonciere_non_bati] + @comptes_2014[:recette_taxe_fonciere_bati] + @comptes_2014[:recette_autres_impots_taxes]%>, <%= @comptes_2014[:recette_total_fonctionnement] - @comptes_2014[:recette_dotation_fonctionnement] - @comptes_2014[:recette_taxe_habitation] - @comptes_2014[:recette_taxe_fonciere_non_bati] - @comptes_2014[:recette_taxe_fonciere_bati] - @comptes_2014[:recette_autres_impots_taxes]%>],
          ["2015", <%= - @comptes_2015[:charge_personnel]%>, <%= - @comptes_2015[:charge_achats] %>, <%= - @comptes_2015[:charge_subventions] - @comptes_2015[:charge_contingents] %>, <%= - @comptes_2015[:charge_charges_financieres] %>, <%= - @comptes_2015[:charge_total_fonctionnement] + @comptes_2015[:charge_personnel] + @comptes_2015[:charge_achats] + @comptes_2015[:charge_subventions] + @comptes_2015[:charge_contingents] + @comptes_2015[:charge_charges_financieres] %>, <%= @comptes_2015[:recette_dotation_fonctionnement]%>, <%= @comptes_2015[:recette_taxe_habitation] + @comptes_2015[:recette_taxe_fonciere_non_bati] + @comptes_2015[:recette_taxe_fonciere_bati] + @comptes_2015[:recette_autres_impots_taxes]%>, <%= @comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:recette_dotation_fonctionnement] - @comptes_2015[:recette_taxe_habitation] - @comptes_2015[:recette_taxe_fonciere_non_bati] - @comptes_2015[:recette_taxe_fonciere_bati] - @comptes_2015[:recette_autres_impots_taxes]%>],
        ]);

        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 200
          },
          'legend' : {
            'alignment': 'center'
          },
          'isStacked': true,
        };

        var fonctionnementchart = new google.charts.Bar(document.getElementById('fonctionnement_chart_div'));
        fonctionnementchart.draw(data, google.charts.Bar.convertOptions(options));
      }

      function drawInvestissement() {
        var data = google.visualization.arrayToDataTable([
          ['', "Dépenses d'équipement", "Taxe FCTVA", "Suventions reçues"],
          ["2008", <%= - @comptes_2008[:depense_equipement]%>, <%= @comptes_2008[:recette_fctva]%>, <%= @comptes_2008[:recette_subventions]%>],
          ["2009", <%= - @comptes_2009[:depense_equipement]%>, <%= @comptes_2009[:recette_fctva]%>, <%= @comptes_2009[:recette_subventions]%>],
          ["2010", <%= - @comptes_2010[:depense_equipement]%>, <%= @comptes_2010[:recette_fctva]%>, <%= @comptes_2010[:recette_subventions]%>],
          ["2011", <%= - @comptes_2011[:depense_equipement]%>, <%= @comptes_2011[:recette_fctva]%>, <%= @comptes_2011[:recette_subventions]%>],
          ["2012", <%= - @comptes_2012[:depense_equipement]%>, <%= @comptes_2012[:recette_fctva]%>, <%= @comptes_2012[:recette_subventions]%>],
          ["2013", <%= - @comptes_2013[:depense_equipement]%>, <%= @comptes_2013[:recette_fctva]%>, <%= @comptes_2013[:recette_subventions]%>],
          ["2014", <%= - @comptes_2014[:depense_equipement]%>, <%= @comptes_2014[:recette_fctva]%>, <%= @comptes_2014[:recette_subventions]%>],
          ["2015", <%= - @comptes_2015[:depense_equipement]%>, <%= @comptes_2015[:recette_fctva]%>, <%= @comptes_2015[:recette_subventions]%>],
        ]);

        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 200
          },
          'legend' : {
            'alignment': 'center'
          },
          'isStacked': true,
        };

        var investissementchart = new google.charts.Bar(document.getElementById('investissement_chart_div'));
        investissementchart.draw(data, google.charts.Bar.convertOptions(options));
      }

      function drawEndettement() {
        var data = google.visualization.arrayToDataTable([
          ['', "Endettement"],
          ["2008", <%= @comptes_2008[:endettement_encours]%>],
          ["2009", <%= @comptes_2009[:endettement_encours]%>],
          ["2010", <%= @comptes_2010[:endettement_encours]%>],
          ["2011", <%= @comptes_2011[:endettement_encours]%>],
          ["2012", <%= @comptes_2012[:endettement_encours]%>],
          ["2013", <%= @comptes_2013[:endettement_encours]%>],
          ["2014", <%= @comptes_2014[:endettement_encours]%>],
          ["2015", <%= @comptes_2015[:endettement_encours]%>],
        ]);

        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 200
          },
          'legend' : {
            'alignment': 'center'
          },
          'isStacked': true,
        };

        var endettementchart = new google.charts.Bar(document.getElementById('endettement_chart_div'));
        endettementchart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
<% end %>


<div class="main-card-sm">
  <div class="sticky-side">
    <div>
      <button type="button" class="btn btn-default sticky-btn active">Finances</button>
    </div>
    <div>
      <button type="button" class="btn btn-default sticky-btn">Réseaux sociaux</button>
    </div>
    <div>
      <button type="button" class="btn btn-default sticky-btn">Discussions</button>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Commune</a></li>
    <li role="presentation"><a href="#">Agglomération</a></li>
    <li role="presentation"><a href="#">Département</a></li>
    <li role="presentation"><a href="#">Région</a></li>
  </ul>
  <div class="entity-title">
    <h1>
      <%= @ville[:nom].downcase.capitalize %>
    </h1>
  </div>
  <div class="card">
    <div class="card-title">
      <h3>Principaux indicateurs</h3>
    </div>
    <div class="card-tab">
      <table>
        <tr>
          <th class="top-left"></th>
          <th>
            <%= @ville[:nom].downcase.capitalize %>
          </th>
          <th>
            Moyenne <br>Yonne
            <i class="fa fa-question-circle to-explain" aria-hidden="true"><span class="explanation">Communes entre 10 000 et 50 000 habitants</span></i>
          </th>
          <th>
            Moyenne <br>France
            <i class="fa fa-question-circle to-explain" aria-hidden="true"><span class="explanation">Communes entre 10 000 et 50 000 habitants</span></i>
          </th>
          <th class="top-right"></th>
        </tr>
        <tr>
          <td>Taxe foncière / habitant (2015)</td>
          <td>
            <%= @comptes_2015[:recette_taxe_fonciere_bati] / @comptes_2015[:population] %> €
          </td>
          <td>dummy</td>
          <td>dummy</td>
          <td><i class="fa fa-circle red" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Taxe d'habitation / habitant (2015)</td>
          <td>dummy</td>
          <td>dummy</td>
          <td>dummy</td>
          <td><i class="fa fa-circle orange" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Budget (2015)</td>
          <td>dummy</td>
          <td>-</td>
          <td>-</td>
          <td></td>
        </tr>
        <tr>
          <td>Dépenses fonctionnement / habitant (2015)</td>
          <td>dummy</td>
          <td>dummy</td>
          <td>dummy</td>
          <td><i class="fa fa-circle orange" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Endettement / habitant (2015)</td>
          <td>dummy</td>
          <td>dummy</td>
          <td>dummy</td>
          <td><i class="fa fa-circle green" aria-hidden="true"></i></td>
        </tr>
      </table>
      <br>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas tortor at nibh lobortis euismod. Pellentesque at purus eget justo feugiat condimentum. Proin rhoncus nunc sit amet dictum tempor. Vivamus in enim in orci maximus vulputate et sed dolor. Aenean quis lacus eros. Integer magna turpis, auctor quis tincidunt eu, porttitor a augue.
      </p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="card">
    <div class="card-title">
      <h3>Historique - Impôts locaux</h3>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas tortor at nibh lobortis euismod. Pellentesque at purus eget justo feugiat condimentum. Proin rhoncus nunc sit amet dictum tempor. Vivamus in enim in orci maximus vulputate et sed dolor. Aenean quis lacus eros. Integer magna turpis, auctor quis tincidunt eu, porttitor a augue.
      </p>
      <br>
    </div>
    <div class="card-tab">
      <div id="impots_chart_div"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="card">
    <div class="card-title">
      <h3>Historique - Budget de fonctionnement</h3>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas tortor at nibh lobortis euismod. Pellentesque at purus eget justo feugiat condimentum. Proin rhoncus nunc sit amet dictum tempor. Vivamus in enim in orci maximus vulputate et sed dolor. Aenean quis lacus eros. Integer magna turpis, auctor quis tincidunt eu, porttitor a augue.
      </p>
      <br>
    </div>
    <div class="card-tab">
      <div id="fonctionnement_chart_div"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="card">
    <div class="card-title">
      <h3>Historique - Budget d'investissement</h3>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas tortor at nibh lobortis euismod. Pellentesque at purus eget justo feugiat condimentum. Proin rhoncus nunc sit amet dictum tempor. Vivamus in enim in orci maximus vulputate et sed dolor. Aenean quis lacus eros. Integer magna turpis, auctor quis tincidunt eu, porttitor a augue.
      </p>
      <br>
    </div>
    <div class="card-tab">
      <div id="investissement_chart_div"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="card">
    <div class="card-title">
      <h3>Historique - Endettement de la commune</h3>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas tortor at nibh lobortis euismod. Pellentesque at purus eget justo feugiat condimentum. Proin rhoncus nunc sit amet dictum tempor. Vivamus in enim in orci maximus vulputate et sed dolor. Aenean quis lacus eros. Integer magna turpis, auctor quis tincidunt eu, porttitor a augue.
      </p>
      <br>
    </div>
    <div class="card-tab">
      <div id="endettement_chart_div"></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
