<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-12">
    </div>
    <div class="col-md-10 col-sm-12">
      <br>
      <div class="entity-title">
        <h1>
          <strong><%= @ville[:nom]%></strong>
        </h1>
      </div>
      <br>
      <ul class="nav nav-tabs">
        <li role="presentation">
          <%= link_to "Indicateurs", ville_indicateurs_path(nom: @ville.nom) %>
        </li>
        <li role="presentation">
          <%= link_to "Fiscalité", ville_fiscalite_path(nom: @ville.nom) %>
        </li>
        <li role="presentation" >
          <%= link_to "Dépenses", ville_depenses_path(nom: @ville.nom) %>
        </li>
        <li role="presentation" class="active" >
          <%= link_to "Finances", ville_finances_path(nom: @ville.nom) %>
        </li>
      </ul>
      <br>
      <div class="card">
        <div class="card-title">
          <br>
          <h4><strong>Situation financière de la commune</strong></h4>
          <br>
          <div class="card-tab">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">
                    Capacité d'autofinancement
                  </th>
                  <th class="text-center">
                    Capacité à rembourser la dette
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    <% if 100 * (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/@comptes_2015[:recette_total_fonctionnement] <7 %>
                      <%= image_tag "capa_fin_min.png" %>
                    <% elsif 100 * (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/@comptes_2015[:recette_total_fonctionnement] < 10 %>
                      <%= image_tag "capa_fin_small_min.png" %>
                    <% elsif 100 * (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/@comptes_2015[:recette_total_fonctionnement] < 13 %>
                      <%= image_tag "capa_fin_small_max.png" %>
                    <% else %>
                      <%= image_tag "capa_fin_max.png" %>
                    <% end %>
                  </td>
                  <td class="text-center">
                    <% if 100 * @comptes_2015[:endettement_encours] / (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement]) > 1000 %>
                      <%= image_tag "capa_fin_min.png" %>
                    <% elsif 100 * @comptes_2015[:endettement_encours] / (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement]) > 750 %>
                      <%= image_tag "capa_fin_small_min.png" %>
                    <% elsif 100 * @comptes_2015[:endettement_encours] / (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement]) > 500 %>
                      <%= image_tag "capa_fin_small_max.png" %>
                    <% else %>
                      <%= image_tag "capa_fin_max.png" %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <br>
          <br>
          <p>
            Le budget d'une commune se compose de deux parties :
            <br>
            <br>
            - le <strong>budget de fonctionnement</strong> correspond aux recettes (taxes et impôts locaux, dotation de l'Etat)
            et dépenses (personnel, fournitures...) récurrentes d'une commune,
            <br>
            - le <strong>budget d'investissement</strong> correspond à des dépenses d'équipement et à leur financement (subventions, emprunt).
            <br>
            <br>
            <strong>Le solde du budget de fonctionnement (recettes - dépenses) est appelé épargne brute en comptabilité publique.</strong>
            <br>
            L'épargne brute finance les investissements de la commune. Si elle est insuffisante, la
            commune peut avoir recours à l'emprunt ou demander des suventions à d'autres institutions
            (département, région, Union Européenne)
            <br>
            <br>
            Plusieurs indicateurs permettent d'évaluer la santé financière d'une commune :
            <br>
            <br>
            <strong>1.</strong> La part de l'épargne brute dans le budget de fonctionnement indique la capacité
            de la commune à financer elle-même ses investissements et à faire face à des imprévus.
            A <%= @ville[:nom].downcase.capitalize %> en 2015 elle était de <%= number_with_precision(100*(@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/@comptes_2015[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
            contre 11% en moyenne en France.
            <br>
            <br>
            <strong>2.</strong> Le niveau d'endettement par rapport à l'épargne brute révèle la soutenabilité de la
             dette de la commune et donc sa capacité à emprunter à nouveau pour financer ses investissements.
             A <%= @ville[:nom].downcase.capitalize %> l'endettement représentait <%= number_with_precision(@comptes_2015[:endettement_encours] / (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>
             fois l'épargne brute annuelle en 2015, contre 7 fois en moyenne en France
            <br>
            <br>
            <strong>3.</strong> L 'évolution de ces ratios permet d'évaluer l'action des élus sur la santé financière de la commune.
            <br>
            <br>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th class="text-center">
                    2010
                  </th>
                  <th class="text-center">
                    2011
                  </th>
                  <th class="text-center">
                    2012
                  </th>
                  <th class="text-center">
                    2013
                  </th>
                  <th class="text-center">
                    2014
                  </th>
                  <th class="text-center">
                    2015
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Recettes de fonctionnement (M€) (1)</th>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2010[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2011[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2012[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2013[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2014[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2015[:recette_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><i class="subcategory">Dont impôts (M€)</i></th>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2010[:recette_taxe_habitation]+@comptes_2010[:recette_taxe_fonciere_non_bati]+@comptes_2010[:recette_taxe_fonciere_bati]+@comptes_2010[:recette_taxe_surfaces_commerciales]+@comptes_2010[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2011[:recette_taxe_habitation]+@comptes_2011[:recette_taxe_fonciere_non_bati]+@comptes_2011[:recette_taxe_fonciere_bati]+@comptes_2011[:recette_taxe_surfaces_commerciales]+@comptes_2011[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2012[:recette_taxe_habitation]+@comptes_2012[:recette_taxe_fonciere_non_bati]+@comptes_2012[:recette_taxe_fonciere_bati]+@comptes_2012[:recette_taxe_surfaces_commerciales]+@comptes_2012[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2013[:recette_taxe_habitation]+@comptes_2013[:recette_taxe_fonciere_non_bati]+@comptes_2013[:recette_taxe_fonciere_bati]+@comptes_2013[:recette_taxe_surfaces_commerciales]+@comptes_2013[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2014[:recette_taxe_habitation]+@comptes_2014[:recette_taxe_fonciere_non_bati]+@comptes_2014[:recette_taxe_fonciere_bati]+@comptes_2014[:recette_taxe_surfaces_commerciales]+@comptes_2014[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision((@comptes_2015[:recette_taxe_habitation]+@comptes_2015[:recette_taxe_fonciere_non_bati]+@comptes_2015[:recette_taxe_fonciere_bati]+@comptes_2015[:recette_taxe_surfaces_commerciales]+@comptes_2015[:recette_autres_impots_taxes])/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row"><i class="subcategory">Dont dotation (M€)</i></th>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2010[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2011[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2012[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2013[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2014[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                  <td class="text-center">
                    <i class="subcategory"><%= number_with_precision(@comptes_2015[:recette_dotation_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %></i>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Dépenses de fonctionnement (M€) (2)</th>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2010[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2011[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2012[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2013[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2014[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2015[:charge_total_fonctionnement]/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Epargne brute (M€) (1)-(2)</th>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2010[:recette_total_fonctionnement] - @comptes_2010[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2011[:recette_total_fonctionnement] - @comptes_2011[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2012[:recette_total_fonctionnement] - @comptes_2012[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2013[:recette_total_fonctionnement] - @comptes_2013[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2014[:recette_total_fonctionnement] - @comptes_2014[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="category">Epargne brute / recettes</th>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2010[:recette_total_fonctionnement] - @comptes_2010[:charge_total_fonctionnement])/@comptes_2010[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2011[:recette_total_fonctionnement] - @comptes_2011[:charge_total_fonctionnement])/@comptes_2011[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2012[:recette_total_fonctionnement] - @comptes_2012[:charge_total_fonctionnement])/@comptes_2012[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2013[:recette_total_fonctionnement] - @comptes_2013[:charge_total_fonctionnement])/@comptes_2013[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2014[:recette_total_fonctionnement] - @comptes_2014[:charge_total_fonctionnement])/@comptes_2014[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(100*(@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement])/@comptes_2015[:recette_total_fonctionnement], options = {delimiter: " ", precision: 0}) %>%
                  </td>
                </tr>
                <tr>
                  <th scope="row">Dépenses d'équipement (M€) </th>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2010[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2011[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2012[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2013[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2014[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2015[:depense_equipement] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Subventions reçues (M€) </th>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2010[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2011[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2012[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2013[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2014[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision(@comptes_2015[:recette_subventions] / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Endettement (M€) </th>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2010[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2011[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2012[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2013[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2014[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                  <td class="text-center">
                    <%= number_with_precision((@comptes_2015[:endettement_encours]) / 1000000.0, options = {delimiter: " ", precision: 1}) %>
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="category">Endettement / épargne brute</th>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2010[:endettement_encours] / (@comptes_2010[:recette_total_fonctionnement] - @comptes_2010[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2011[:endettement_encours] / (@comptes_2011[:recette_total_fonctionnement] - @comptes_2011[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2012[:endettement_encours] / (@comptes_2012[:recette_total_fonctionnement] - @comptes_2012[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2013[:endettement_encours] / (@comptes_2013[:recette_total_fonctionnement] - @comptes_2013[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2014[:endettement_encours] / (@comptes_2014[:recette_total_fonctionnement] - @comptes_2014[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2015[:endettement_encours] / (@comptes_2015[:recette_total_fonctionnement] - @comptes_2015[:charge_total_fonctionnement]), options = {delimiter: " ", precision: 0}) %>x
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="category">Endettement / habitant</th>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2010[:endettement_encours] / (@comptes_2010[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2011[:endettement_encours] / (@comptes_2011[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2012[:endettement_encours] / (@comptes_2012[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2013[:endettement_encours] / (@comptes_2013[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2014[:endettement_encours] / (@comptes_2014[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                  <td class="text-center category">
                    <%= number_with_precision(@comptes_2015[:endettement_encours] / (@comptes_2015[:population]), options = {delimiter: " ", precision: 0}) %>€
                  </td>
                </tr>
              </tbody>
            </table>
          </p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
