<% content_for :head do %>
  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar'], 'language': 'fr'});
      google.charts.setOnLoadCallback(drawtf);
      google.charts.setOnLoadCallback(drawth);

      function drawtf() {
        var data = google.visualization.arrayToDataTable([
          ['', 'Taxes foncières / habitant <%=escape_javascript @ville[:nom].downcase.capitalize %>', 'Taxes foncières / habitant moyenne'],
          ["2008", <%= (@comptes_2008[:recette_taxe_fonciere_bati]+@comptes_2008[:recette_taxe_fonciere_non_bati]) / @comptes_2008[:population] %>, <%= (@comptes_moy_2008[:recette_taxe_fonciere_bati]+@comptes_moy_2008[:recette_taxe_fonciere_non_bati]) / @comptes_moy_2008[:population] %>],
          ["2009", <%= (@comptes_2009[:recette_taxe_fonciere_bati]+@comptes_2009[:recette_taxe_fonciere_non_bati]) / @comptes_2009[:population] %>, <%= (@comptes_moy_2009[:recette_taxe_fonciere_bati]+@comptes_moy_2009[:recette_taxe_fonciere_non_bati]) / @comptes_moy_2009[:population] %>],
          ["2010", <%= (@comptes_2010[:recette_taxe_fonciere_bati]+@comptes_2010[:recette_taxe_fonciere_non_bati]) / @comptes_2010[:population] %>, <%= (@comptes_moy_2010[:recette_taxe_fonciere_bati]+@comptes_moy_2010[:recette_taxe_fonciere_non_bati]) / @comptes_moy_2010[:population] %>],
          ["2011", <%= (@comptes_2011[:recette_taxe_fonciere_bati]+@comptes_2011[:recette_taxe_fonciere_non_bati]) / @comptes_2011[:population] %>, <%= (@comptes_moy_2011[:recette_taxe_fonciere_bati]+@comptes_moy_2011[:recette_taxe_fonciere_non_bati]) / @comptes_moy_2011[:population] %>],
          ["2012", <%= (@comptes_2012[:recette_taxe_fonciere_bati]+@comptes_2012[:recette_taxe_fonciere_non_bati]) / @comptes_2012[:population] %>, <%= (@comptes_moy_2012[:recette_taxe_fonciere_bati]+@comptes_moy_2012[:recette_taxe_fonciere_non_bati]) / @comptes_moy_2012[:population] %>],
          ["2013", <%= (@comptes_2013[:recette_taxe_fonciere_bati]+@comptes_2013[:recette_taxe_fonciere_non_bati]) / @comptes_2013[:population] %>, <%= (@comptes_moy_2013[:recette_taxe_fonciere_bati]+@comptes_moy_2013[:recette_taxe_fonciere_non_bati]) / @comptes_moy_2013[:population] %>],
          ["2014", <%= (@comptes_2014[:recette_taxe_fonciere_bati]+@comptes_2014[:recette_taxe_fonciere_non_bati]) / @comptes_2014[:population] %>, <%= (@comptes_moy_2014[:recette_taxe_fonciere_bati]+@comptes_moy_2014[:recette_taxe_fonciere_non_bati]) / @comptes_moy_2014[:population] %>],
          ["2015", <%= (@comptes_2015[:recette_taxe_fonciere_bati]+@comptes_2015[:recette_taxe_fonciere_non_bati]) / @comptes_2015[:population] %>, <%= (@comptes_moy_2015[:recette_taxe_fonciere_bati]+@comptes_moy_2015[:recette_taxe_fonciere_non_bati]) / @comptes_moy_2015[:population] %>]
        ]);

        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 250
          },
          colors: ['#2196F3','#B0BEC5'],
          'legend' : {
            'alignment': 'center'
          },
          vAxes: {
            1: {
              gridlines: {
                color: 'transparent'
              },
              textStyle: {
                color: 'transparent'
              }
            },
          },
          series: {
            2: {
              targetAxisIndex: 1
            },
            3: {
              targetAxisIndex: 1
            },
          },
        };

        var tfchart = new google.charts.Bar(document.getElementById('tf_chart_div'));
        tfchart.draw(data, google.charts.Bar.convertOptions(options));
      }

      function drawth() {
        var data = google.visualization.arrayToDataTable([
          ['', "Taxe d'habitation / habitant <%=escape_javascript @ville[:nom].downcase.capitalize %>", "Taxe d'habitation / habitant moyenne"],
          ["2008", <%= @comptes_2008[:recette_taxe_habitation] / @comptes_2008[:population] %>, <%= @comptes_moy_2008[:recette_taxe_habitation] / @comptes_moy_2008[:population] %>],
          ["2009", <%= @comptes_2009[:recette_taxe_habitation] / @comptes_2009[:population] %>, <%= @comptes_moy_2009[:recette_taxe_habitation] / @comptes_moy_2009[:population] %>],
          ["2010", <%= @comptes_2010[:recette_taxe_habitation] / @comptes_2010[:population] %>, <%= @comptes_moy_2010[:recette_taxe_habitation] / @comptes_moy_2010[:population] %>],
          ["2011", <%= @comptes_2011[:recette_taxe_habitation] / @comptes_2011[:population] %>, <%= @comptes_moy_2011[:recette_taxe_habitation] / @comptes_moy_2011[:population] %>],
          ["2012", <%= @comptes_2012[:recette_taxe_habitation] / @comptes_2012[:population] %>, <%= @comptes_moy_2012[:recette_taxe_habitation] / @comptes_moy_2012[:population] %>],
          ["2013", <%= @comptes_2013[:recette_taxe_habitation] / @comptes_2013[:population] %>, <%= @comptes_moy_2013[:recette_taxe_habitation] / @comptes_moy_2013[:population] %>],
          ["2014", <%= @comptes_2014[:recette_taxe_habitation] / @comptes_2014[:population] %>, <%= @comptes_moy_2014[:recette_taxe_habitation] / @comptes_moy_2014[:population] %>],
          ["2015", <%= @comptes_2015[:recette_taxe_habitation] / @comptes_2015[:population] %>, <%= @comptes_moy_2015[:recette_taxe_habitation] / @comptes_moy_2015[:population] %>]
        ]);

        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 250
          },
          colors: ['#2196F3','#B0BEC5'],
          'legend' : {
            'alignment': 'center'
          },
          vAxes: {
            1: {
              gridlines: {
                color: 'transparent'
              },
              textStyle: {
                color: 'transparent'
              }
            },
          },
          series: {
            2: {
              targetAxisIndex: 1
            },
            3: {
              targetAxisIndex: 1
            },
          },
        };

        var thchart = new google.charts.Bar(document.getElementById('th_chart_div'));
        thchart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-12">
    </div>
    <div class="col-md-11 col-sm-12">
      <br>
      <div class="entity-title">
        <h2>
          <strong><%= @ville[:nom]%></strong>
        </h2>
      </div>
      <div class="text-center">
        <%= image_tag "town_illustration.png" %>
      </div>
      <br>
      <ul class="nav nav-tabs">
        <li role="presentation">
          <%= link_to "Synthèse", ville_synthese_path(nom: @ville.nom) %>
        </li>
        <li role="presentation">
          <%= link_to "Indicateurs", ville_indicateurs_path(nom: @ville.nom) %>
        </li>
        <li role="presentation" class="active">
          <%= link_to "Fiscalité", ville_fiscalite_path(nom: @ville.nom) %>
        </li>
        <li role="presentation">
          <%= link_to "Dépenses", ville_depenses_path(nom: @ville.nom) %>
        </li>
        <li role="presentation">
          <%= link_to "Finances", ville_finances_path(nom: @ville.nom) %>
        </li>
      </ul>
      <br>
      <div class="card">
        <div class="card-title">
          <br>
          <h4><strong>Historique - Impôts locaux</strong></h4>
          <br>
          <p>
            Ces graphiques présentent l'évolution des deux principaux impôts locaux,
            c'est-à-dire
            <a data-toggle="modal" data-target="#modalTh">
              la taxe d'habitation
            </a>
             et
            <a data-toggle="modal" data-target="#modalTf">
              les taxes foncières
            </a>
            , entre les années 2008 et 2015,
            et la compare, sur la même période, à l'évolution de ces impôts en moyenne pour
            l'ensemble des communes de taille comparable en France.
            <br>
            <br>
            <strong>1. Taxe d'habitation par habitant</strong>
            <div class="card-tab">
              <div id="th_chart_div"></div>
            </div>
            <br>
            <strong>2. Taxes foncières par habitant</strong>
            <div class="card-tab">
              <div id="tf_chart_div"></div>
            </div>
            Les niveaux de taxes foncières et d'habitation sont présentées par habitant.
            Dans la pratique, ces taxes sont appliquées aux foyers. Le montant moyen par
            foyer en 2015 était de <%= @comptes_2015[:recette_taxe_fonciere_bati]/@ville[:nb_menages_2013] %>€ pour la taxe foncière
            et de <%= @comptes_2015[:recette_taxe_habitation]/@ville[:nb_menages_2013] %>€ pour la taxe d'habitation.
            <br>
            L'intérêt de lire cet indicateur par habitant est que le nombre de membres d'un foyer peut varier,
            mais le coût des services d'une commune dépend bien de son nombre d'habitants.
            <br>
            <br>
            Pour plus d'informations sur la nature de chacune de ses taxes,
            vous pouvez consulter la section impôts et taxes du <%= link_to "lexique", pages_lexique_path %>.
            <br>
            <br>
            <% if 100*(@comptes_2015[:recette_taxe_fonciere_bati]/@comptes_2015[:population])/(@comptes_2008[:recette_taxe_fonciere_bati]/@comptes_2008[:population]) - 100 >= 0 %>
            La taxe foncière par habitant a augmenté de <%= number_to_percentage(100*(@comptes_2015[:recette_taxe_fonciere_bati]/@comptes_2015[:population])/(@comptes_2008[:recette_taxe_fonciere_bati]/@comptes_2008[:population]) - 100, precision: 0) %>
            entre 2008 et 2015 et atteint <%= @comptes_2015[:recette_taxe_fonciere_bati]/@comptes_2015[:population] %>€ a la fin de l'année 2015.
            <% else %>
            La taxe foncière par habitant a baissé de <%= number_to_percentage(100*(@comptes_2015[:recette_taxe_fonciere_bati]/@comptes_2015[:population])/(@comptes_2008[:recette_taxe_fonciere_bati]/@comptes_2008[:population]) - 100, precision: 0) %>
            entre 2008 et 2015 et atteint <%= @comptes_2015[:recette_taxe_fonciere_bati]/@comptes_2015[:population] %>€ a la fin de l'année 2015.
            <% end %>
            <br>
            Pendant la même période, les communes françaises de même taille ont augmenté le montant de la taxe foncière par habitant de <%= number_to_percentage(100*(@comptes_moy_2015[:recette_taxe_fonciere_bati]/@comptes_moy_2015[:population])/(@comptes_moy_2008[:recette_taxe_fonciere_bati]/@comptes_moy_2008[:population]) - 100, precision: 0) %>,
            à <%= @comptes_moy_2015[:recette_taxe_fonciere_bati]/@comptes_moy_2015[:population] %>€.
            <br>
            <br>
            <% if 100*(@comptes_2015[:recette_taxe_habitation]/@comptes_2015[:population])/(@comptes_2008[:recette_taxe_habitation]/@comptes_2008[:population]) - 100 >=0 %>
            La taxe d'habitation  a augmenté de <%= number_to_percentage(100*(@comptes_2015[:recette_taxe_habitation]/@comptes_2015[:population])/(@comptes_2008[:recette_taxe_habitation]/@comptes_2008[:population]) - 100, precision: 0) %>
            entre 2008 et 2015 et atteint <%= @comptes_2015[:recette_taxe_habitation]/@comptes_2015[:population] %>€ a la fin de l'année 2015.
            <% else %>
            La taxe d'habitation  a baissé de <%= number_to_percentage(-(100*(@comptes_2015[:recette_taxe_habitation]/@comptes_2015[:population])/(@comptes_2008[:recette_taxe_habitation]/@comptes_2008[:population]) - 100), precision: 0) %>
            entre 2008 et 2015 et atteint <%= @comptes_2015[:recette_taxe_habitation]/@comptes_2015[:population] %>€ a la fin de l'année 2015.
            <% end %>
            <br>
            Pendant la même période, les communes françaises de même taille ont augmenté le montant de la taxe d'habitation de <%= number_to_percentage(100*(@comptes_moy_2015[:recette_taxe_habitation]/@comptes_moy_2015[:population])/(@comptes_moy_2008[:recette_taxe_habitation]/@comptes_moy_2008[:population]) - 100, precision: 0) %>,
            à <%= @comptes_moy_2015[:recette_taxe_habitation]/@comptes_moy_2015[:population] %>€ par habitant.
          </p>
          <br>
          <br>
          <p class="text-center">
            <%= image_tag "end_text_symbol.png" %>
          </p>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

  <!-- Button trigger modal -->


<!-- Modal TH -->
<div class="modal fade" id="modalTh" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>La taxe d'habitation</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        La taxe d'habitation est due par le foyer occupant d'un logement.
        Elle est prélevée par la commune et l'intercommunalité.
        <br>
        <br>
        Elle est calculée à partir des bases cadastrales qui sont des estimations des revenus locatifs
        que génère ou pourrait générer un bien. Des taux votés par la commune et l'intercommunalité sont
        ensuite appliqués à cette base.
        <br>
        Les foyers avec de faibles revenus sont totalement ou partiellement exonérés de taxe d'habitation.
        <br>
        <br>
        La taxe d'habitation finance donc le budget de fonctionnement des communes et collectivités (achats, personnel, entretien).
        L'année dernière elle a rapporté 16,5 Md€ aux collectivités.
      </p>
      </div>
      <div class="modal-footer">
        <p>
        Source : Les Collectivités locales en chiffres, DGCL, 2017
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Modal TF -->
<div class="modal fade" id="modalTf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Les taxes foncières</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p>
        Il existe une taxe foncière sur le foncier bâti (immeubles, maisons, appartements, bureaux...)
        et une taxe foncière sur le foncier non bâti (terrains nus)
        <br>
        <br>
        La taxe foncière est dûe par le propriétaire d'un bien immobilier. Elle
        <br>
        <br>
        Elle est calculée à partir des bases cadastrales qui sont des estimations des revenus locatifs
        que génère ou pourrait générer un bien. Des taux voté par la commune, l'intercommunalité et le département sont
        ensuite appliqués à cette base.
        <br>
        Les foyers avec de faibles revenus ou âgés peuvent bénéficier d'un abattement.
        <br>
        <br>
        La taxe sur le foncier bâti a rapporté 31,9 Md€ en 2016, et la taxe sur le foncier non bâti 1 Md€. Leur produit
        finance pour un peu plus de la moitié les communes et intercommunalités et pour le reste les départements.
      </p>
      </div>
      <div class="modal-footer">
        <p>
        Source : Les Collectivités locales en chiffres, DGCL, 2017
        </p>
      </div>
    </div>
  </div>
</div>
