<% content_for :head do %>
    <meta name="google-site-verification" content="4SM52CVk1TCLLrb4oahGQm07QTuIYSDYGcejtD_VX9g" />
  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'bar'], 'language': 'fr'});
      google.charts.setOnLoadCallback(drawFonctionnement);
      google.charts.setOnLoadCallback(drawInvestissement);

      function drawFonctionnement() {
        var data = google.visualization.arrayToDataTable([
          ['', "Dépenses réelles de fonctionnement (commune)", "Dépenses réelles de fonctionnement (moyenne)"],
          ["2011", <%= -@charges_fonctionnement_2011 / @comptes_2011[:population] %>, <%= -@charges_fonctionnement_moy_2011 / @comptes_moy_2011[:population] %>],
          ["2012", <%= -@charges_fonctionnement_2012 / @comptes_2012[:population] %>, <%= -@charges_fonctionnement_moy_2012 / @comptes_moy_2012[:population] %>],
          ["2013", <%= -@charges_fonctionnement_2013 / @comptes_2013[:population] %>, <%= -@charges_fonctionnement_moy_2013 / @comptes_moy_2013[:population] %>],
          ["2014", <%= -@charges_fonctionnement_2014 / @comptes_2014[:population] %>, <%= -@charges_fonctionnement_moy_2014 / @comptes_moy_2014[:population] %>],
          ["2015", <%= -@charges_fonctionnement_2015 / @comptes_2015[:population] %>, <%= -@charges_fonctionnement_moy_2015 / @comptes_moy_2015[:population] %>],
          ["2016", <%= -@charges_fonctionnement_2016 / @comptes_2016[:population] %>, <%= -@charges_fonctionnement_moy_2016 / @comptes_moy_2016[:population] %>],
        ]);


        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 200
          },
          colors: ['#2196F3','#B0BEC5'],
          'legend' : {
            'alignment': 'center'
          },
        };

        var fonctionnementchart = new google.charts.Bar(document.getElementById('fonctionnement_chart_div'));
        fonctionnementchart.draw(data, google.charts.Bar.convertOptions(options));
      };

      function drawInvestissement() {
        var data = google.visualization.arrayToDataTable([
          ['', "Dépenses réelles d'investissement (commune)", "Dépenses réelles d'investissement (moyenne)"],
          ["2011", <%= -@charges_investissement_2011 / @comptes_2011[:population] %>, <%= -@charges_investissement_moy_2011 / @comptes_moy_2011[:population] %>],
          ["2012", <%= -@charges_investissement_2012 / @comptes_2012[:population] %>, <%= -@charges_investissement_moy_2012 / @comptes_moy_2012[:population] %>],
          ["2013", <%= -@charges_investissement_2013 / @comptes_2013[:population] %>, <%= -@charges_investissement_moy_2013 / @comptes_moy_2013[:population] %>],
          ["2014", <%= -@charges_investissement_2014 / @comptes_2014[:population] %>, <%= -@charges_investissement_moy_2014 / @comptes_moy_2014[:population] %>],
          ["2015", <%= -@charges_investissement_2015 / @comptes_2015[:population] %>, <%= -@charges_investissement_moy_2015 / @comptes_moy_2015[:population] %>],
          ["2016", <%= -@charges_investissement_2016 / @comptes_2016[:population] %>, <%= -@charges_investissement_moy_2016 / @comptes_moy_2016[:population] %>],
        ]);


        var options = {
          'width' : 750,
          'height' : 350,
          'chartArea' : {
            'width': 400,
            'height': 200
          },
          colors: ['#2196F3','#B0BEC5'],
          'legend' : {
            'alignment': 'center'
          },
        };

        var investissementchart = new google.charts.Bar(document.getElementById('investissement_chart_div'));
        investissementchart.draw(data, google.charts.Bar.convertOptions(options));
      }

    </script>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-12">
    </div>
    <div class="col-md-11 col-sm-12">
      <br>
      <div class="entity-title">
        <h2>
          <strong><%= @ville[:nom_propre].mb_chars.upcase%></strong>
        </h2>
      </div>
      <div class="text-center">
        <%= image_tag "town_illustration.png" %>
      </div>
      <br>
      <ul class="nav nav-tabs">
        <li role="presentation">
          <%= link_to "Chiffres clés", ville_indicateurs_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation">
          <%= link_to "Fiscalité", ville_fiscalite_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation" class="active" >
          <%= link_to "Dépenses", ville_depenses_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
        <li role="presentation">
          <%= link_to "Finances", ville_finances_path(nom_propre_et_dep: @ville.nom_propre_et_dep) %>
        </li>
      </ul>
      <br>
      <div class="card">
        <div class="card-title">
          <br>
          <h4><strong>Les dépenses de la commune</strong></h4>
          <br>
          <div id="fonctionnement_chart_div"></div>
          <br>
          <br>
          <div id="investissement_chart_div"></div>
          <br>
          <br>
          <p>
            Les communes ont un nombre important de compétences à assumer :
            entretien du domaine public, action sociale, police municipale,
            activités culturelles. Ces actions sont financées par les recettes de la commune,
            principalement fiscales.
            <br>
            Des informations sur les compétences des communes sont disponibles dans notre
            notice traitant des <%= link_to "compétences des collectivités locales", pages_notice_competences_path %>.
            <br>
            <br>
            Une commune doit donc fournir un certain niveau de services au meilleur coût
            pour les habitants.
            Ce niveau de services peut être variable selon la politique de chaque ville.
            <br>
            <br>
            Les dépenses d’une commune se classent en deux catégories :
            <br>
            <strong> - Les dépenses de fonctionnement </strong> correspondent
            aux dépenses quotidiennes de la ville (salaires, petit entretien, achats)
            <br>
            <strong> - Les dépenses d’investissement </strong> sont par nature
            non récurrentes. Il s’agit de constructions et d’achat de biens amortissables
            (bâtiments, véhicules municipaux, création de parcs…)
            <br>
            <br>
            Le premir graphique compare le niveau de dépenses réelles de fonctionnement
            par habitant pour <%= @ville[:nom_propre] %> avec la moyenne des villes de même taille.
            <strong>Un montant de dépenses élevé devrait correspondre à une qualité de services
            municipaux supérieure à la moyenne.</strong>
            <% if @ville[:nb_res_secondaires] / @comptes_2016[:population] >= 0.5 %>
              <p>
              <br>
              <br>
              Attention. Il y a dans cette commune une part importante de résidences secondaires :
              <%= @ville[:nb_res_secondaires] %> résidences secondaires pour une population de <%= @comptes_2016[:population] %> habitants.
              Les données fiscales et financières par habitant peuvent donc sembler artificiellement élevées.
              </p>
            <% end %>
          </p>
          <br>
          <p>
          Le deuxième graphique compare le niveau des dépenses réelles d’investissement par habitant
          à <%= @ville[:nom_propre] %> avec la moyenne des villes de même taille.
          Dans les petites communes, ces dépenses peuvent fortement varier d’une année sur
          l’autre, car il n’y a pas forcément d’investissements importants à réaliser chaque année.
          Des équipements peuvent aussi être mutualisés avec d’autres communes.
          <br>
          <br>
          Dans les communes de plus grande taille, des dépenses beaucoup plus faibles que
          la moyenne ne sont pas forcément vertueuses. Si la ville est dotée de peu d’équipements
          (gymnase, conservatoires, salles d’associations…) les habitants devront payer des
          abonnements plus importants dans les villes voisines, en plus des impôts locaux de leur ville.
          </p>
        <br>
        <p class="text-center">
          <%= image_tag "end_text_symbol.png" %>
        </p>
      </div>
    </div>
  </div>
</div>
