<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-12">
    </div>
    <div class="col-md-10 col-sm-12">
      <div class="entity-title">
        <h1>
          <%= @ville[:nom].downcase.capitalize %>
        </h1>
      </div>
      <br>
      <ul class="nav nav-tabs">
        <li role="presentation" class= "active" >
          <%= link_to "Indicateurs", ville_indicateurs_path(nom: @ville.nom) %>
        </li>
        <li role="presentation">
          <%= link_to "Fiscalité", ville_fiscalite_path(nom: @ville.nom) %>
        </li>
        <li role="presentation">
          <%= link_to "Dépenses", ville_depenses_path(nom: @ville.nom) %>
        </li>
        <li role="presentation">
          <%= link_to "Finances", ville_finances_path(nom: @ville.nom) %>
        </li>
      </ul>
      <br>
      <div class="card">
        <div class="card-title">
          <br>
          <p>
            Pour comprendre au mieux les indicateurs de votre commune, vous pouvez consulter notre
            page dédiée à l'<a href="#">analyse des budgets des collectivités locales</a>.
          </p>
          <br>
          <h4><strong>Principaux indicateurs</strong></h4>
        </div>
        <div class="card-tab">
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th class="text-center">
                  <%= @ville[:nom].downcase.capitalize %>
                  <br>(2015)
                </th>
                <th class="text-center">
                  Villes de même taille (*)
                  <br>(2015)
                </th>
                <th class="text-center">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Population</th>
                <td class="text-center">
                  <%= number_with_precision(@comptes_2015[:population], options = {delimiter: " ", precision: 0}) %>
                </td>
                <td class="text-center">-</td>
                <td class="text-center"></td>
              </tr>
              <tr>
                <th scope="row" class="category">Fiscalité</th>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
              </tr>
              <tr>
                <th scope="row">Taxe d'habitation / habitant (€)</th>
                <td class="text-center">
                  <%= number_with_precision(@comptes_2015[:recette_taxe_habitation] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]), options = {delimiter: " ", precision: 0}) %>
                </td>
                <td class="text-center">
                  <%= number_with_precision(@comptes_moy_2015[:recette_taxe_habitation] / (@comptes_moy_2015[:population] + @comptes_moy_2015[:nb_res_secondaires]), options = {delimiter: " ", precision: 0}) %>
                </td>
                <td class="text-center">
                  <% if @comptes_2015[:recette_taxe_habitation] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 160 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif @comptes_2015[:recette_taxe_habitation] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 220 %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif @comptes_2015[:recette_taxe_habitation] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 280 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% else %>
                    <%= image_tag "gauge_max.png" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row">Taxe foncière / habitant (€)</th>
                <td class="text-center">
                  <%= number_with_precision((@comptes_2015[:recette_taxe_fonciere_bati]+@comptes_2015[:recette_taxe_fonciere_non_bati]) / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]), options = {delimiter: " ", precision: 0}) %>
                </td>
                <td class="text-center">
                  <%= number_with_precision((@comptes_moy_2015[:recette_taxe_fonciere_bati]+@comptes_moy_2015[:recette_taxe_fonciere_non_bati]) / (@comptes_moy_2015[:population] + @comptes_moy_2015[:nb_res_secondaires]), options = {delimiter: " ", precision: 0}) %>
                </td>
                <td class="text-center">
                  <% if (@comptes_2015[:recette_taxe_fonciere_bati]+@comptes_2015[:recette_taxe_fonciere_non_bati]) / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 180 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif (@comptes_2015[:recette_taxe_fonciere_bati]+@comptes_2015[:recette_taxe_fonciere_non_bati]) / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 240 %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif (@comptes_2015[:recette_taxe_fonciere_bati]+@comptes_2015[:recette_taxe_fonciere_non_bati]) / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 300 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% else %>
                    <%= image_tag "gauge_max.png" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row" class="category">Finances</th>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
              </tr>
              <tr>
                <th scope="row">Dépenses de fonctionnement / habitant (€)</th>
                <td class="text-center">
                  <%= number_with_precision(@comptes_2015[:charge_total_fonctionnement] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]), options = {delimiter: " ", precision: 0})%>
                </td>
                <td class="text-center">
                  <%= number_with_precision(@comptes_moy_2015[:charge_total_fonctionnement] / (@comptes_moy_2015[:population] + @comptes_moy_2015[:nb_res_secondaires]), options = {delimiter: " ", precision: 0})%>
                </td>
                <td class="text-center">
                  <% if @comptes_2015[:charge_total_fonctionnement] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 650 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif @comptes_2015[:charge_total_fonctionnement] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 1050 %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif @comptes_2015[:charge_total_fonctionnement] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 1450 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% else %>
                    <%= image_tag "gauge_max.png" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row">Endettement / habitant (€)</th>
                <td class="text-center">
                  <%= number_with_precision(@comptes_2015[:endettement_encours] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]), options = {delimiter: " ", precision: 0})%>
                </td>
                <td class="text-center">
                  <%= number_with_precision(@comptes_moy_2015[:endettement_encours] / (@comptes_moy_2015[:population] + @comptes_moy_2015[:nb_res_secondaires]), options = {delimiter: " ", precision: 0})%>
                </td>
                <td class="text-center">
                  <% if @comptes_2015[:endettement_encours] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 500 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif @comptes_2015[:endettement_encours] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 900 %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif @comptes_2015[:endettement_encours] / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) < 1300 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% else %>
                    <%= image_tag "gauge_max.png" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row" class="category">Niveau de vie</th>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
              </tr>
              <tr>
                <th scope="row">Revenu médian par ménage</th>
                <td class="text-center">
                  <%=  number_with_precision(@ville[:uc_par_menage] * @ville[:revenu_median_uc], options = {delimiter: " ", precision: 0}) %>
                </td>
                <td class="text-center">-</td>
                <td class="text-center"></td>
              </tr>
              <tr>
              <tr>
                <th scope="row">Revenu médian : décile</th>
                <td class="text-center">
                  <%=  @ville[:decile_revenu] %>/10
                </td>
                <td class="text-center">-</td>
                <td class="text-center">
                  <% if @ville[:decile_revenu] < 4 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif @ville[:decile_revenu] < 6 %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif @ville[:decile_revenu] < 8 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% else %>
                    <%= image_tag "gauge_max.png" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th scope="row">Part de logements sociaux <%= "(obligation : #{number_to_percentage(@ville[:taux_hlm_legal], precision: 0)})" if @ville[:taux_hlm_legal].is_a? Numeric%> </th>
                <td class="text-center">
                  <%= @ville[:taux_hlm_2015] ? number_to_percentage(100 * @ville[:taux_hlm_2015], precision: 0) : "na" %>
                </td>
                <td class="text-center">-</td>
                <td class="text-center">
                  <% if @ville[:taux_hlm_2015] && 10000 * @ville[:taux_hlm_2015] < 625 %>
                    <%= image_tag "gauge_min.png" %>
                  <% elsif @ville[:taux_hlm_2015] && 10000 * @ville[:taux_hlm_2015] < 1250 %>
                    <%= image_tag "gauge_small_min.png" %>
                  <% elsif @ville[:taux_hlm_2015] && 10000 * @ville[:taux_hlm_2015] < 1875 %>
                    <%= image_tag "gauge_small_max.png" %>
                  <% elsif @ville[:taux_hlm_2015] %>
                    <%= image_tag "gauge_max.png" %>
                <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <p class="footnote">
            (*) Moyenne des villes <%= @ville_moy[:nom].downcase %>
          </p>
          <br>
          <br>
          <p>
            Le revenu moyen par ménage de <%= @ville[:nom].downcase.capitalize %> est de
            <%=  number_with_precision(@ville[:uc_par_menage] * @ville[:revenu_median_uc], options = {delimiter: " ", precision: 0}) %>€.
            <br>
            Ce niveau classe la commune dans le <%=  @ville[:decile_revenu] %><%= @ville[:decile_revenu] == 1 ? ("er") : ("ème") %> décile.
            C'est à dire que le revenu médian dans la commune se situe <%= @decile_comp %>.
            <br>
            <br>
            La somme des deux principaux impôts locaux (taxe d’habitation et taxe foncière)
            s’élève à <%= (@comptes_2015[:recette_taxe_habitation]+@comptes_2015[:recette_taxe_fonciere_bati]+@comptes_2015[:recette_taxe_fonciere_non_bati]) / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) %> €.
            Cette somme représente <%= number_to_percentage(100*((@comptes_2015[:recette_taxe_habitation]+@comptes_2015[:recette_taxe_fonciere_bati]+@comptes_2015[:recette_taxe_fonciere_non_bati]) / (@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]))/((@comptes_moy_2015[:recette_taxe_habitation]+@comptes_moy_2015[:recette_taxe_fonciere_bati]+@comptes_moy_2015[:recette_taxe_fonciere_non_bati]) / (@comptes_moy_2015[:population] +  @comptes_moy_2015[:nb_res_secondaires])), precision: 0) %>
            de la moyenne nationale des villes de taille comparable.
            Vous pouvez consulter plus en détails le niveau des prélèvements et son évolution dans
            l'onglet <%= link_to "fiscalité", ville_fiscalite_path(nom: @ville.nom) %>.
            <br>
            <br>
            Les dépenses de fonctionnement s'élevaient en 2015 à
            <%= @comptes_2015[:charge_total_fonctionnement]/(@comptes_2015[:population] +  @comptes_2015[:nb_res_secondaires]) %> € par habitant , correspondant
            à un niveau de dépenses <%= @charge_fct_comp %> à la moyenne des communes de même taille. Pour une analyse
            détaillé de la situation financière de la commune, vous pouvez consulter l'onglet
            <%= link_to "Finances", ville_finances_path(nom: @ville.nom) %> et nos pages dédiées à
            la <%= link_to "structure des budgets", pages_structure_path %> ou à
            l'<a href="#">analyse des budgets des collectivités locales</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
