<% content_for :head do %>
  <meta name="google-site-verification" content="4SM52CVk1TCLLrb4oahGQm07QTuIYSDYGcejtD_VX9g" />
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-wrapper">
  <h1>Les compétences des collectivités locales</h1>
  <p>
  Les collectivités territoriales françaises sont organisées en quatre échelons
  distincts, à janvier 2017 :
  <br>
  <br>
  - 18 régions<br>
  - 101 départements<br>
  - 1 266 communautés de communes<br>
  - 35 414 communes<br>
  <br>
  <br>
  Chacun de ces quatre échelons dispose de compétences propres que nous présentons successivement.
  Des graphiques récapitulant, pour l’ensemble des échelons locaux, les postes de fonctionnement et
  d’investissement (recettes et dépenses) sont disponibles dans une dernière partie.
  </p>
  <br>
  <h2 class= "orange-police">1. Le bloc communal</h2>
  <br>
  <h4 class= "blue-police">La commune</h4>
  <br>
  <p>
  La commune est désormais <strong>le seul échelon bénéficiant de la clause de compétence générale</strong>,
  c'est-à-dire que la commune dispose d'une capacité d'intervention générale, sans qu'il soit
  nécessaire de procéder à une énumération de ses attributions dès lors qu'il ne s'agit pas
  d'une compétence relevant exclusivement d'une autre collectivité
  (loi du 7 août 2015 portant nouvelle organisation territoriale de la République, dite loi "NOTRe").
  <br>
  <br>
  Les principales compétences d'une commune sont les suivantes  :
  <br>
  <br>
  - <strong>Urbanisme</strong> : permis de construire, Plan Local d’Urbanisme (PLU), Zone d’Aménagement Concerté (ZAC),<br>
  - <strong>Education</strong> : gestion et financement des écoles maternelles et primaires, cantines scolaires,<br>
  - <strong>Energie</strong> : production, installation et distribution,<br>
  - <strong>Sports</strong> : création et gestion des équipements, subventions,<br>
  - <strong>Transports</strong> : transport urbain, stationnement,<br>
  - <strong>Culture</strong> : bibliothèques, musées, salles de spectacles, manifestations culturelles,<br>
  - <strong>Tourisme</strong> : aménagements et manifestations,<br>
  - <strong>Social</strong> : centres communaux d’action sociale (crèches, foyers de personnes âgées,...).<br>
  </p>
  <br>
  <br>
  <p>
  <strong>Obligation de construire des logements sociaux et sanction envers les communes en situation de carence :</strong>
  <br>
  <br>
  L'article 55 de la loi Solidarité et Renouvellement Urbains (loi n°2000-1208 du 13 décembre 2000) impose
  l’obligation pour certaines communes de disposer d’un <strong>taux minimum de logements sociaux sur leur territoire</strong>,
  selon des critères définis par le Code de la construction et de l’habitation (CCH) :
  <br>
  <br>
  - Le taux de <strong>25% de logements sociaux</strong> s’applique aux communes dont la population est au moins égale à (1) 1 500 habitants
  en Ile-de-France et (2) 3 500 habitants dans les autres régions qui sont situées (a) dans une agglomération ou (b) dans un Etablissement
  Public de Coopération Intercommunale à fiscalité propre de plus de 50 000 habitants comprenant au moins une commune de plus de 15 000 habitants,
  <br>
  - pour certaines communes, un seuil de <strong>20% de logements sociaux</strong> s’applique selon des critères spécifiques,
  <br>
  - enfin, certaines communes sont <strong>exemptées</strong>.
  <br>
  <br>
  Les services de l’État procèdent à un <strong>inventaire</strong> annuel contradictoire avec les communes dites
  « concernées par la loi SRU », qui permet de déterminer le nombre de résidences principales et
  le nombre de logements sociaux à avoir sur une commune pour respecter le taux de 25 % pour certaines ou
  de 20 % pour d’autres. Les communes qui n’ont pas assez de logements sociaux doivent rattraper leur retard.
  Dès lors, se déclenchent deux procédures :
  <br>
  <br>
  - <strong>une procédure annuelle</strong> : les communes ne respectant pas l’article 55 doivent, tous les ans et après
  vérification des services de l’État, verser une somme qui sert à financer des logements sociaux partout
  en France,
  <br>
  - <strong>une procédure triennale</strong> : les communes sont soumises à une obligation de rattrapage sur trois ans.
  A l’issue de ces trois ans, les services et l’État vérifient si elles ont satisfait à leurs obligations
  ou pas. Si non, les communes peuvent être « carencées » et c’est à ce moment que peuvent être prises des
  sanctions plus lourdes à l’encontre de ces communes. Ces sanctions peuvent aller jusqu'au transfert,
  du maire au préfet, de certaines compétences relatives à l'urbanisme et aux logements sociaux.
  </p>
  <br>
  <h4 class= "blue-police">L'EPCI (communauté de communes)</h4>
  <br>
  <p>
  <strong>La communauté des communes ou EPCI (Etablissement Public de Coopération Intercommunale)
  exerce les compétences qui lui sont déléguées par les communes membres</strong>.
  Selon le type d’EPCI,certaines compétences sont obligatoires, d’autres facultatives. Ses principales compétences
  sont les suivantes :
  <br>
  <br>
  - <strong>Urbanisme</strong> : élaboration du Schéma de COhérence Territoriale (SCOT) et des schémas de secteurs, gestion du foncier et immobilier d’entreprise<br>
  - <strong>Education</strong> : écoles primaires, crèches, cantines scolaires<br>
  - <strong>Sports</strong> : équipements, manifestations sportives<br>
  - <strong>Transports</strong> : stationnement, ports<br>
  - <strong>Sécurité</strong> : prévention de la délinquance, incendies et secours<br>
  - <strong>Déchets</strong> : collecte et traitement<br>
  - <strong>Eau</strong> : distribution et assainissement<br>
  </p>
  <br>
  <h4 class= "blue-police">Dépenses et recettes du bloc communal</h4>
  <br>
  <p>
  Les graphiques ci-dessous présentent, pour l’année 2016, les principaux postes de recettes et de dépenses
  du bloc communal, en milliards d’euros, en distinguant entre fonctionnement et investissement.
  <br>
  <br>
  <br>
  <%= image_tag "budget_nature_communes.png" %>
    <p class="footnote">
      Source : Observatoire des finances et de la gestion publique locale (rapport 2017)
    </p>
  <br>
  <br>
  L’épargne brute (autrement appelée excédent de fonctionnement, en bleu dans le graphique)
  est égale à la différence entre les recettes de fonctionnement (1er graphique, colonne de gauche)
  et les dépenses de fonctionnement (1er graphique, colonne de droite). Le bloc communal génère une
  épargne brute de 15,9 milliards d'euros, soit un taux d'épargne de 14,5%.
  <br>
  <br>
  Cet excédent permet de financer 55% des dépenses d'investissement des communes (2e graphique).
  <br>
  <br>
  Près de 50% des recettes proviennent des impôts locaux, ce qui confère aux communes un important degré
  d'autonomie en termes de recettes vis-à-vis de l'Etat. Cette proportion tend à s'accroitre car le concours
  de l'Etat, en particulier la dotation générale de fonctionnement (DGF), a fortement baissé ces dernières
  années dans le cadre de la participation des collectivités à l'effort de réduction du déficit public.
  </p>
  <br>
  <h4 class= "blue-police">Répartition par fonction des dépenses de fonctionnement et d'investissement du bloc communal</h4>
  <br>
  <%= image_tag "budget_fonction_communes.png" %>
    <p class="footnote">
      Source : Observatoire des finances et de la gestion publique locale (rapport 2017)
    </p>
  <br>
  <p>
    L'administration générale représente plus du quart des dépenses totales (investissement et fonctionnement).
    Ce chiffre très élevé s'explique en grande partie par le nombre important de communes et d'EPCI.
    <br>
    <br>
    Les autres postes privilégiés de dépenses correspondent aux compétences clés du secteur communal :
    aménagement urbain, culture et sports et enseignement primaire.
    <br>
    <br>
    La diversité des thématiques rappelle le fait que les communes sont dotées de la clause de compétence
    générale qui les autorise à intervenir dans tous les domaines.
  </p>
  <br>
  <h2 class= "orange-police">2. Le département</h2>
  <br>
  <h4 class= "blue-police">Les principales compétences des départements</h4>
  <p>
  Le département est <strong>le chef de file de l’action sociale</strong>.
  Ses principales compétences sont les suivantes :
  <br>
  <br>
  - <strong>Action sociale</strong> : Revenu de Solidarité Active, Allocation Personnalisée d'Autonomie,
  Prestation de Compensation du Handicap, Protection Maternelle et Infantile, Aide Sociale à l'Enfance, logement social,<br>
  - <strong>Education</strong> : gestion et financement des collèges, gestion de 100 000 agents techniciens et ouvriers,<br>
  - <strong>Energie</strong> : production, installations et distribution,<br>
  - <strong>Transports</strong> : routes départementales (près de 400 000 kms), transports scolaires des enfants handicapés,<br>
  - <strong>Sécurité</strong> : prévention de la délinquance,<br>
  - <strong>Sports</strong> : équipements, manifestations sportives,<br>
  - <strong>Culture</strong> : bibliothèques, musées, salles de spectacles, manifestations culturelles, archives,<br>
  - <strong>Tourisme</strong> : aménagements,<br>
  - <strong>Economie</strong> : aide aux filières agricoles locales.<br>
  </p>
  <br>
  <h4 class= "blue-police">Les budgets des départements par nature</h4>
  <br>
  <br>
  <br>
  <%= image_tag "budget_nature_departements.png" %>
    <p class="footnote">
      Source : Observatoire des finances et de la gestion publique locale (rapport 2017)
    </p>
  <br>
  <p>
    La principale source de recettes de fonctionnement des départements est la fiscalité transférée (37%) :
    cette fiscalité est perçue par l'Etat pour le compte des collectivités territoriales et sert en particulier
    à financer l'action sociale dans le cas des départements.
  <br>
  <br>
    L'essentiel de l'action des départements est en effet constitué de transferts sociaux
    (Revenu de Solidarité Active et Allocation Personnalisée d'Autonomie), ce qui explique la forte proportion de
    dépenses d'intervention (60% des recettes de fonctionnement) et la relativement faible proportion de frais de
    personnel (18%).
  <br>
  <br>
    Le concours direct de l'Etat est comme pour les communes en forte baisse du fait de la baisse de la dotation
    générale de fonctionnement.
  <br>
  <br>
    Les dépenses d'investissement des départements sont également relativement faibles (10,5 milliards d'euros
    pour 58,3 milliards d'euros de dépenses de fonctionnement) et majoritairement financées par l'épargne brute (à 75%).
  </p>
  <br>
  <h4 class= "blue-police">Les budgets des départements par fonction</h4>
  <br>
  <%= image_tag "budget_fonction_departements.png" %>
    <p class="footnote">
      Source : Observatoire des finances et de la gestion publique locale (rapport 2017)
    </p>
  <p>
  <br>
  Près de 55% des dépenses des départements sont consacrées à la compétence clé des départements :
  l'action sociale, qui comprend le versement d'allocation sociales (RSA et APA en particulier).
  <br>
  <br>
  Les départements ont des dépenses importantes également en infrastructures (12%), et liées à la
  gestion des collèges (enseignement 7.5% et transport scolaire 5%).
  <br>
  </p>
  <h2 class= "orange-police">3. La région</h2>
  <br>
  <h4 class= "blue-police">Les principales compétences des régions</h4>
  <br>
  <p>
  <strong>La région est le chef de file en matière économique.</strong> Les régions ont vu leurs compétences
  renforcées par la loi "NOTRe" et deviennent l’échelon de référence de la décision économique.
  Leurs principales compétences sont les suivantes :
  <br>
  <br>
  - <strong>Economie</strong> : création du SDREII (Schéma Régional de Développement Economique, de l’Innovation et de l’Internationalisation) en concertation avec les communautés de communes et les métropoles. Aides aux entreprises<br>
  - <strong>Aménagement du territoire</strong> : élaboration du schéma régional d’aménagement et du développement durable du territoire (SRADDT) sauf Ile-de-France et outre-mer. Supervision des zones d’activité, des grands équipements<br>
  - <strong>Emploi</strong> : service d’accompagnement vers l’emploi sans toucher aux prérogatives de Pôle emploi (Etat)<br>
  - <strong>Transports</strong> : transport scolaire (à partir de 2017), chef de file de l’intermodalité (loi Maptam), transports routiers non urbains, participation au financement des axes routiers constituant des voies d’intérêt national<br>
  - <strong>Sport</strong> : accueil au minimum d’un centre de ressources, d’expertises et de performance sportives (Creps)<br>
  - <strong>Eau</strong> : gestion et protection des ressources en eau si les enjeux sanitaires et environnementaux le justifient<br>
  - <strong>Déchets</strong> : plan régional de prévention et de gestion des déchets, déchets d’entreprise<br>
  </p>
  <br>
  <h4 class= "blue-police">Les budgets des régions par nature</h4>
  <br>
  <%= image_tag "budget_nature_regions.png" %>
    <p class="footnote">
      Source : Observatoire des finances et de la gestion publique locale (rapport 2017)
    </p>
  <p>
  Les budgets des régions sont les plus faibles des trois échelons étudiés : les dépenses de fonctionnement
  des régions représentent à peine un tiers de celles des départements et un cinquième de celles du secteur communal.
  <br>
  <br>
  Les régions ont peu de ressources propres : la fiscalité locale représente seulement 21% des recettes de
  fonctionnement. Elles sont donc touchées au premier chef en cas de réduction des transferts de l'Etat.
  <br>
  <br>
  Les frais de personnel y sont relativement réduits (14% des dépenses de fonctionnement),
  l'essentiel des dépenses étant constitué de transferts financiers et de subventions.
  <br>
  <br>
  L'épargne brute s'établit à 20% ce qui permet de financer près de la moitié des dépenses d'investissements.
  Celles-ci sont également composées de subventions à des projets d'investissement pour presque les deux tiers
  d'entre elles.
  <br>
  </p>
  <h4 class= "blue-police">Les budgets des régions par fonction</h4>
  <br>
  <%= image_tag "budget_fonction_regions.png" %>
    <p class="footnote">
      Source : Observatoire des finances et de la gestion publique locale (rapport 2017)
    </p>
  <br>
  <br>
  <p>
    Les dépenses des régions se concentrent principalement sur trois thématiques concentrant les deux tiers
    des dépenses : les transports (24%), les lycées (21%) et la formation professionnelle (18%).
    <br>
    L'action économique représente 7,6% des dépenses.
  </p>
  <br>
  <h2 class= "orange-police">4. Budgets aggrégés des collectivités territoriales</h2>
  <br>
  <h4 class= "blue-police">Recettes de fonctionnement</h4>
  <br>
  <p>
    Ce graphique présente les montants des principaux postes de recettes de fonctionnement des communes et EPCI,
    départements et régions. L’ensemble des recettes de fonctionnement des collectivités locales représente 197,5
    milliards d’euros.
  </p>
  <br>
  <%= image_tag "treemap_recettes_fonctionnement.png" %>
    <p class="footnote">
      Source : Observatoire des finances et de la gestion publique locale (rapport 2017)
    </p>
  <br>
  <p>
    Comme indiqué plus haut, plus l’échelon est « local », plus l’autonomie en matière fiscale de la collectivité territoriale est importante.
  </p>
  <br>
  <h4 class= "blue-police">Dépenses de fonctionnement</h4>
  <br>
  <p>
  Ce graphique présente les montants des principaux postes de dépenses de fonctionnement des communes et EPCI, départements et régions.
  </p>
  <br>
  <%= image_tag "treemap_depenses_fonctionnement.png" %>
    <p class="footnote">
      Source : Observatoire des finances et de la gestion publique locale (rapport 2017)
    </p>
  <br>
  <br>
  <p>
    Les deux principaux postes des dépenses de fonctionnement sont de nature différente :
  <br>
  - les frais de personnels et achats et charges externes des communes (68 milliard d’euros),
  <br>
  - les dépenses d’intervention des départements (40 milliards d’euros).
  </p>
  <br>
  <h4 class= "blue-police">Recettes d'investissement</h4>
  <br>
  <p>
  Ce graphique présente les montants des principaux postes de recettes d’investissement des communes et EPCI,
  départements et régions. L’ensemble des recettes d’investissement des collectivités locales représente 49
  milliards d’euros.
  </p>
  <br>
  <%= image_tag "treemap_recettes_investissement.png" %>
    <p class="footnote">
      Source : Observatoire des finances et de la gestion publique locale (rapport 2017)
    </p>
  <br>
  <h4 class= "blue-police">Dépenses d'investissement</h4>
  <br>
  <p>
  Ce graphique présente les montants des principaux postes de dépenses d’investissement des communes et EPCI,
  départements et régions.
  </p>
  <br>
  <%= image_tag "treemap_depenses_investissement.png" %>
    <p class="footnote">
      Source : Observatoire des finances et de la gestion publique locale (rapport 2017)
    </p>
  <br>
  <p>
  Les échelons de proximité (communes et EPCI) investissent davantage dans des dépenses d’équipement directes
  (construction de médiathèque, etc.) alors que les départements et régions ont davantage recours aux subventions,
  qu’ils versent à des acteurs de proximité.
  </p>
  <br>
  <br>
  <p class="footnote">
      Sources : <br>
      - Observatoire des finances et de la gestion publique locale (rapport 2017) <br>
      - Guide du maire 2014 - DGCL-DGFIP <br>
      - www.collectivites-locales.gouv.fr <br>
      - www.vie-publique.fr <br>
      - www.cohesion-territoires.gouv.fr <br>
    </p>
  <br>
  <br>
  <p class="text-center">
    <%= image_tag "end_text_symbol.png" %>
  </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
