<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Citoyens Responsables</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>
  <body>
    <div class="navbar">
      <%=link_to(image_tag("logo_full.png"), pages_home_path, class: "logo") %>
      <div class="navbar-right">
        <%= form_tag(search_path, method: 'get', class: 'navbar-form navbar-right') do %>
          <%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'Chercher une collectivité', data: {autocomplete_source: search_suggestions_path}  %>
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            <i class="fa fa-search"></i>
          <% end %>
        <% end %>
        <%= link_to "Projet", pages_projet_path, class: "navbar-link navbar-item" %>
          <div class="dropdown">
            <p class="navbar-link navbar-item dropdown-toggle" data-toggle="dropdown">Documentation</p>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to "Fiscalité locale", pages_notice_fiscalite_path %>
              </li>
              <li>
                <%= link_to "Analyse des budgets", pages_notice_analyse_path %>
              </li>
              <li>
                <%= link_to "Compétences des collectivités", pages_notice_competences_path %>
              </li>
              <li>
                <%= link_to "Méthodologie", pages_notice_methodologie_path %>
              </li>
            </ul>
          </div>
        <%= link_to "Blog", pages_blog_path, class: "navbar-link navbar-item" %>
      </div>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <div class="footer">
      <div class="container">
      <br>
      <br>
      <br>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-3">
            <%= link_to "Accueil", root_path %>
            <br>
            <br>
            <%= link_to "Projet", pages_projet_path %>
            <br>
            <br>
            <%= link_to "Blog", pages_blog_path %>
          </div>
          <div class="col-md-3">
            <%= link_to "L'association", pages_projet_path %>
          </div>
          <div class="col-md-4">
            <br>
            <br>
            <h4>
              <a><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
              <a><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            </h4>
            <br>
            <br>
            <i class="fa fa-copyright" aria-hidden="true"></i>  2017 - Citoyens Responsables
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
