<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Action !</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>
  <body>
    <div class="navbar">
      <a href="" class="logo">
        <img src="http://placehold.it/40x40" />
      </a>
      <div class="navbar-right hidden-xs hidden-sm">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Ma commune">
          </div>
          <button type="submit" class="btn btn-default">
            <i class="fa fa-search"></i>
          </button>
        </form>
        <%= link_to "Projet", pages_projet_path, class: "navbar-link navbar-item" %>
          <div class="dropdown">
            <p class="navbar-link navbar-item dropdown-toggle" data-toggle="dropdown">Ressources</p>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </div>
      </div>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <div class="footer">
    <p class="text-center"></p>
    </div>
  </body>
</html>
